<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>精信官网首页</title>
    <meta
      name="description"
      content="精英盛华, 湖北精英盛华信息科技有限公司, 精信科技, 湖北精英盛华信息科技有限公司官网"
    />
    <meta
      name="keywords"
      content="精英盛华, 湖北精英盛华信息科技有限公司, 精信科技, 湖北精英盛华信息科技有限公司官网"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link
      rel="Shortcut Icon"
      href="__PUBLIC__/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css" />
    <script
      type="text/javascript"
      src="__PUBLIC__/Js/jquery-1.8.3.min.js"
    ></script>
    <script type="text/javascript" src="__PUBLIC__/Js/slide.js"></script>

    <script type="text/javascript" src="__PUBLIC__/Js/banner.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".index_btn li").hover(
          function () {
            $(this).find("div").stop(true).animate({ top: -280 }, 300);
          },
          function () {
            $(this).find("div").stop(true).animate({ top: -0 }, 300);
          }
        );
      });
    </script>
  </head>
  <body>
    <include file="Admin@Common/header" />
    <!-- 轮播开始 -->
    <div class="roll" id="mydiv">
      <img src="__PUBLIC__/images/sy_banner01.jpg" alt="" width="100%" />
      <!--	<div class="bannerbox">-->
      <!--		<div class="Homebanner">-->
      <!--			<ul>-->
      <!--				<li class="Load cur" style="z-index:99">-->
      <!--					<div class="Homebannertext">-->
      <!--						<img src="" class="bannereffect bannertime bigimg">-->
      <!--						<dl class="bannerone clearfix">-->
      <!--							<dt class="bannereffect bannertime1">-->
      <!--								价值观-->
      <!--							</dt>-->
      <!--							<dd class="bannereffect bannertime2">-->
      <!--								客户第一，用我们的产品和服务让客户生活得更美好-->
      <!--							</dd>-->
      <!--						</dl>-->
      <!--					</div>-->
      <!--				</li>-->
      <!--				<li class="Load cur" style="z-index:99">-->
      <!--					<img src="__PUBLIC__/images/banner001.jpg" alt="">-->
      <!--					<div class="Homebannertext">-->
      <!--						<img src="" class="bannereffect bannertime bigimg">-->
      <!--						<dl class="bannerone clearfix">-->
      <!--							<dt class="bannereffect bannertime1">-->
      <!--								价值观-->
      <!--							</dt>-->
      <!--							<dd class="bannereffect bannertime2">-->
      <!--								客户第一，用我们的产品和服务让客户生活得更美好-->
      <!--							</dd>-->
      <!--						</dl>-->
      <!--					</div>-->
      <!--				</li>-->
      <!--				<li class="Load">-->
      <!--					<img src="__PUBLIC__/images/banner003.jpg" alt="">-->
      <!--					<div class="Homebannertext">-->
      <!--						<img src="" class="bannereffect bannertime bigimg">-->
      <!--						<dl class="bannertwo clearfix">-->
      <!--							<dt class="bannereffect bannertime1">-->
      <!--								<h3>精神</h3>-->
      <!--								<p>-->
      <!--									严谨、敬业、专注、专业，精益求精的工匠精神<br>-->
      <!--									胜则举杯相庆，败则拼死相救的团队精神<br>-->
      <!--									前行成长，全力以赴，永争第一的个人拼搏精神-->
      <!--								</p>-->
      <!--							</dt>-->
      <!--						</dl>-->
      <!--					</div>-->
      <!--				</li>-->
      <!--				<li class="Load"><img src="__PUBLIC__/images/banner002.png" alt="">-->
      <!--					<div class="Homebannertext">-->
      <!--						<dl class="bannerthree clearfix">-->
      <!--							<dt class="bannereffect bannertime">&lt;!&ndash; <img src="img/03-1.png" alt=""> &ndash;&gt;</dt>-->
      <!--							<dd class="bannereffect bannertime1">-->
      <!--								&lt;!&ndash; <img src="images/earthf.png" alt=""> &ndash;&gt;-->
      <!--								<h3>愿 景</h3>-->
      <!--								<p>客户满意的精准营销服务专家</p>-->
      <!--							</dd>-->
      <!--						</dl>-->
      <!--					</div>-->
      <!--				</li>-->
      <!--			</ul>-->

      <!--			<div class="Homeleft"><</div>-->
      <!--			<div class="Homeright">></div>-->
      <!--			<div class="Homedot"><a href="javascript:;" class="cur">1</a><a href="javascript:;">2</a><a href="javascript:;">3</a></div>-->
      <!--		</div>-->
      <!--	</div>-->
    </div>
    <!-- 轮播结束 -->
    <!-- 热点新闻开始 -->
    <!-- <div class="hot-news">
    <h1>热点新闻</h1>
    <span class="line"></span>
    <div class="new-flash">
    <a href="__APP__/index.php/Admin/News/detail?id=54">热烈祝贺湖北精英盛华信息科技股份有限公司成功在全国中小企业股份转让系统挂牌!<br>【证券简称：精信科技  证券代码：870852】 </a>
    </div>
    <button onclick="window.location.href='__APP__/index.php/Admin/News/detail?id=54'" style="cursor:pointer;">点击查看</button>
</div> -->
    <div class="hot-news2">
      <!--<h1>热烈祝贺湖北精英盛华信息科技股份有限公司成功在全国中小企业股份转让系统挂牌!【证券简称：精信科技  证券代码：870852】</h1>-->
      <!-- <p> </p> -->
      <!--<button onclick="window.location.href='__APP__/index.php/Admin/News/detail?id=54'">点击查看</button>-->
    </div>
    <!-- 热点新闻结束 -->
    <!-- 产品板块开始 -->
    <div class="m-cp">
      <div class="m-cp-box box1">
        <a href="__APP__/index.php/Admin/Product/school" class="img">
          <span class="cp01-icon"></span>
          <img src="__PUBLIC__/images/cp01.jpg" />
          <span class="img-hover"></span>
        </a>
        <h1>智慧校园</h1>
        <p>建立安全、便捷、开放的校园成长平台</p>
        <a href="__APP__/index.php/Admin/Product/school" class="btn"
          >了解更多</a
        >
      </div>
      <!-- <div class="m-cp-box box2">
		<a href="__APP__/index.php/Admin/Product/index" class="img">
			<span class="cp02-icon"></span>
			<img src="__PUBLIC__/images/xqjy-sy-7-18.jpg">
			<span class="img-hover"></span>
		</a>
		<h1>学前教育</h1>
		<p>早教+幼教+培训多元一体化教育服务</p>
		<a href="__APP__/index.php/Admin/Product/index" class="btn">了解更多</a>
	</div> -->
      <div class="m-cp-box box2">
        <!-- <a  class="img"> -->
        <a href="__APP__/index.php/Admin/Product/index" class="img">
          <span class="cp02-icon"></span>
          <img src="__PUBLIC__/images/gffd-02-20.jpg" />
          <span class="img-hover"></span>
        </a>
        <h1>光伏电能投资运营</h1>
        <p>掌握储能核心技术，打造储能产业<br />“中国芯”</p>
        <a href="__APP__/index.php/Admin/Product/index" class="btn">了解更多</a>
        <!-- <a  class="btn">了解更多</a>  -->
      </div>
      <div class="m-cp-box box3">
        <a href="__APP__/index.php/Admin/Product/yxt" class="img">
          <span class="cp03-icon"></span>
          <img src="__PUBLIC__/images/cp03.jpg" />
          <span class="img-hover"></span>
        </a>
        <h1>通信业务</h1>
        <p>数字化移动营销解决方案和<br />精准营销服务专家</p>
        <a href="__APP__/index.php/Admin/Product/yxt" class="btn">了解更多</a>
      </div>
      <div class="m-cp-box box4">
        <a href="__APP__/index.php/Admin/Product/zhcg" class="img">
          <span class="cp04-icon"></span>
          <img src="__PUBLIC__/images/zhcg-sy-7-18.jpg" />
          <span class="img-hover"></span>
        </a>
        <h1>智慧城管</h1>
        <p>监管互动、分工合作、统一指挥、管理有序的城市管理新模式</p>
        <a href="__APP__/index.php/Admin/Product/zhcg" class="btn">了解更多</a>
      </div>
    </div>
    <!-- 产品板块结束 -->

    <!--新闻块开始-->
    <div class="w-1200 clear-b">
      <div class="news">
        <h1 class="b-title">
          <i class="i"></i>精信要闻 / <span>NEWS</span
          ><a href="__APP__/index.php/Admin/News" class="fr">MORE></a>
        </h1>
        <div class="news-t">
          <div class="news-img" style="padding: 0">
            <img
              src="__ROOT__{$top_list.pic_info.file_path}"
              style="width: 230px; height: 120px"
            />
          </div>
          <div class="news-detail">
            <h1>
              <a href="__APP__/index.php/Admin/News/detail?id={$top_list.id}"
                ><if condition="mb_strlen($top_list['top_title']) gt 28"
                  >{$top_list.top_title|mb_substr=###,0,28,'utf-8'}...<else />{$top_list.top_title}</if
                ></a
              >
            </h1>
            <p>{$top_list.abstract}</p>
            <a
              href="__APP__/index.php/Admin/News/detail?id={$top_list.id}"
              class="news-into"
              >查看详情>></a
            >
          </div>
        </div>
        <div class="news-list">
          <volist name="news_list" id="vo" offset="1">
            <a href="__APP__/index.php/Admin/News/detail?id={$vo.id}"
              ><h1>
                <p class="line1">
                  <if condition="mb_strlen($vo['top_title']) gt 60"
                    >{$vo.top_title|mb_substr=###,0,60,'utf-8'}...<else />{$vo.top_title}</if
                  >
                </p>
                <span class="news-list-time">[{$vo.date}]</span>
              </h1></a
            >
          </volist>
        </div>
      </div>
      <div class="m-blk">
        <a href="__APP__/index.php/Admin/About/index">
          <img src="__PUBLIC__/images/blk01.png" />
        </a>
        <a href="__APP__/index.php/Admin/About/culture">
          <img src="__PUBLIC__/images/blk02.png" />
        </a>
        <a href="__APP__/index.php/Admin/About/staff">
          <img src="__PUBLIC__/images/blk03.png" />
        </a>
        <a href="__APP__/index.php/Admin/Recruit">
          <img src="__PUBLIC__/images/blk04.png" />
        </a>
        <a href="__APP__/index.php/Admin/Contact">
          <img src="__PUBLIC__/images/blk05.png" />
        </a>
      </div>
    </div>

    <!--新闻块结束-->
    <include file="Admin@Common/footer" />
    <!-- foot 开始
<div class="footer clear-b">
	<div class="foot-con">
		<ul class="foot-list w-230">
			<li><span>扫一扫</span></li>
			<li>
				<img src="__PUBLIC__/images/sy-ewm.png" alt="" />
			</li>
			<li class="mar-t-5">一键分享</li>
			<li>
				<a href="" class="QQ"></a>
				<a href="" class="KJ"></a>
				<a href="" class="WB"></a>
				<a href="" class="WX"></a>
				<a href="" class="PYQ"></a>
			</li>
		</ul>
		<ul class="foot-list w-270">
			<li><span>联系我们</span></li>
			<li>地址：湖北省武汉市硚口区解放大道578号中御广场23F</li>
			<li>电话：027-83987310</li>
			<li>网址：www.jingyingshenghua.com</li>
		</ul>
		<ul class="foot-list">
			<li><span>旗下公司</span></li>
			<li><a href="">上海洲信信息技术有限公司</a></li>
			<li><a href="">安徽共佳信息技术有限公司</a></li>
		</ul>  
		<div class="foot-map"></div>
	</div>
	<div class="foot-bottom">2016-2017© 精信科技版权所有&nbsp;&nbsp;|&nbsp;&nbsp;沪ICP备07509391号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">法律声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">隐私保护</a></div>
</div>
foot结束 -->
    <!-- 轮播背景鼠标效果 -->
    <script type="text/javascript">
      window.onload = function () {
        //配置
        var config = {
          vx: 4, //小球x轴速度,正为右，负为左
          vy: 4, //小球y轴速度
          height: 2, //小球高宽，其实为正方形，所以不宜太大
          width: 2,
          count: 100, //点个数
          color: "255, 180, 0", //点颜色
          stroke: "255,180,0", //线条颜色
          dist: 6000, //点吸附距离
          e_dist: 20000, //鼠标吸附加速距离
          max_conn: 10, //点到点最大连接数
        };

        //调用
        CanvasParticle(config);
      };
    </script>
    <script
      type="text/javascript"
      src="__PUBLIC__/Js/canvas-particle.js"
    ></script>
  </body>
</html>
