<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片旋转效果</title>
<link rel="stylesheet" href="css/baes.css" type="text/css">
<link rel="stylesheet" href="css/mart.css" type="text/css">
<script src="js/rotate.js"></script>
</head>

<body>
<div id="focus_Box">
	<span class="prev">&nbsp;</span>
	<span class="next">&nbsp;</span>
	<ul>
		<li>
			<a href="#"><img src="images/honor-img-1.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="images/honor-img-2.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="images/honor-img-3.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="images/honor-img-1.jpg" /></a>
		</li>
		<li>
			<a href="#"><img src="images/honor-img-2.jpg" /></a>
		</li>
	</ul>
</div>
<div class="focus-list">
<ul>
    <a href="" class="list-left"></a>
    <li class="select"></li>
    <li></li>
    <li></li>
    <a href="" class="list-right"></a>
</ul>
</div>
</body>
</html>
