*{
	behavior: url(ie-css3.htc);
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;}
body, button, input, select, textarea {
    font:14px/1.5 'Serif';
	margin:0;padding:0;border:0;outline:0;
	color:#3c3c3c;
}
ul li{list-style:none}
a{margin:0;padding:0;font-size:100%; color:#3c3c3c;}
a{text-decoration:none;outline:none;}
table{border-collapse:collapse;border-spacing:0}
img{ border:0;}
h1,h2,h3,h4,h5,h6,h7{font-weight:normal;}

body,.top,.nav,.footer{ min-width:1200px;}

/*common*/
.fr{float:right;}
.fl{float:left;}
.dis-b{ display:block;}
.dis-in-b{ display: inline-block;}
.clear-b{ clear:both;}
.text-r{ text-align:right;}
.text-c{ text-align:center;}
.mar-l-10{ margin-left:10px;}
.mar-l-20{ margin-left:20px;}
.mar-l-15{ margin-left:15px;}
.mar-r-10{ margin-right:10px;}
.mar-t-20{ margin-top:20px;}
.mar-t-10{ margin-top:10px;}
.mar-t-5{ margin-top:5px;}
.c-3{ color:#333;}
.c-6{ color:#666;}
.f-b{ font-weight:bold;}
.f-12{ font-size:12px;}
.c-9{ color:#999;}
.mar-b-140{ margin-bottom:140px;}

.w-1200{ width:1200px; margin:auto;}
/*icon*/
.search-icon,.phone-icon,.news-list-icon,.trophy-icon,.recruit-icon,.recruit-select-icon,.new-icon,.product-icon,.product-select-icon{ background:url(../images/icon.png) no-repeat;}
.search-icon{ width:18px; height:18px; display:block; float:right; background-position:-64px -96px; margin-top:1px;}
.phone-icon{ width:28px; height:28px; display:block; float:left; background-position:-66px -67px; margin-right:5px;}
/*top*/
.top{width:100%;position: absolute;}
.top .w-1200{ height: 70px; margin: 0 auto;}
.logo{ 
	width:219px; 
	height:40px; 
	background:url(../images/logo.png) no-repeat; 
	display:block; 
	margin-left:15px; 
	margin-top:15px;
	float:left;
	position: absolute;	
	z-index: 9999;
}
.logo2{background:url(../images/logo2.png) no-repeat; }
.top-search{ float:right; margin-top:25px; margin-right:38px;}
.search-left,.search-right{ width:14px; height:22px; background:url(../images/icon.png) no-repeat; display:block; float:left;}
.search-left{background-position:-97px -97px;}
.search-right{background-position:-112px -97px;}
.search-input{ width:170px; height:20px; border-bottom:1px #c5c4c9 solid;border-top:1px #c5c4c9 solid; float:left;}
.search-input input{ width:150px;border:0; height:18px; line-height:18px; font-size:14px; margin-top:1px; color:#ccc;}
.search-all{ float:left; margin-right:15px;}
.search-language{ width:125px; height:22px; background:url(../images/icon.png) no-repeat -97px -70px; float:left;margin-right:30px;}

.search-select{ display:none;}
.select_box{ font-size: 12px;color: #999999;width:125px;line-height: 20px; position:absolute; z-index:9;}
.select_showbox{height: 22px;padding-left: 10px; line-height:22px;background:url(images/icon.png) -91px -71px;}
.select_option{border-top: none;display: none; width:90px; margin-left:10px; background:#fff;}
.select_option li{padding-left: 5px; line-height:22px;}
.select_option li.selected{background-color: #F3F3F3;color: #999;}
.select_option li.hover{background: #c5c4c9; color: #fff;}
.call{ float:left; color:#015db2; font-family:'Aparajita'; font-size:22px;}

/*nav*/

.nav{
	position: absolute;
	// background:rgba(0,0,0,0.4);
	// filter:alpha(Opacity=40);
	// opacity:.4; 
	height:70px; 
	width:100%;
	z-index: 999;
	background:url(../images/nav-bg.png) center;
}
.nav ul{ margin-left: 340px;}
.nav li{ 
	display:block; 
	float:left; 
	// position:relative; 
	height:70px;
}
.nav-link{
	color:#fff;  
	line-height:70px; 
	height:70px;
	display:block; 
	text-align: center;
	font-size: 18px;
	margin:0 20px;
}
.nav li:hover .nav-link{ 
	font-size: 18px;
	border-bottom:1px #e64a55 solid; 
	height:69px; 
	color: #e54b55;
}
.nav .search-icon{
	display: inline-block;
	float: none;
	width:20px;
	height: 20px;
	background: url(../images/search-icon.png);
	vertical-align: middle;
	margin-bottom: 5px;
}
/*.nav li:hover { border-left:1px #e60012 solid;}
.nav .nav-b:hover{border-right:1px #e60012 solid;}*/
// .subnav2,.subnav3,.subnav4,.subnav5,.subnav6{ 
// 	display:none; 
// 	background:#fff;  
// 	position:absolute;
// 	padding:5px 10px; 
// 	z-index:20;
// }
// .subnav2{width:160px;height:110px; margin-left:-30px;}
// .subnav3{margin-left:10px;}
// .subnav4{width: 70px; margin-left:15px;}
// .subnav5{margin-left:10px;}
// .subnav6{margin-left:10px;}

.subnav2,.subnav3,.subnav4,.subnav5,.subnav6{ 
	position:absolute;
	z-index:1024;
	left:0;
	width: 100%;
	background:rgba(9,18,43,0.9); 
	height: 0;
	transition:.2s;
	-webkit-transition:.2s;
}


.nav li:hover .subnav2,
.nav li:hover .subnav3,
.nav li:hover .subnav4,
.nav li:hover .subnav5,
.nav li:hover .subnav6
	{
		height: 100px;
	}
.subnav-left a{ 
	margin:0 40px; 
	font-size:14px; 
	display: none;
	line-height:100px; 
	color: #fff;
	transition:.2s;
}
.nav li:hover .subnav2 .subnav-left a,
.nav li:hover .subnav3 .subnav-left a,
.nav li:hover .subnav4 .subnav-left a,
.nav li:hover .subnav5 .subnav-left a,
.nav li:hover .subnav6 .subnav-left a
	{
		display: inline-block;
	}
.h-120{ height:120px;}
.w-275{ width:275px;}
.w-65-a{ width:65px; display:inline-block;}
.subnav-left{ text-align: center;}

.subnav-left a:hover{ color:#e54b55;}
.triangle{ margin-right:10px; display:inline-block; width:6px; height:11px; background:url(../images/icon.png) no-repeat -139px -101px; margin-bottom:-1px;}
.subnav-left a:hover .triangle{ background-position:-131px -101px;}
.subnav-right{ float:left; border-left:1px #c5c4c9 dotted;}
.subnav-right img{ width:130px; height:70px; margin-left:20px;}
.subnav-right p{ color:#333; margin-left:20px; margin-top:10px; line-height:10px; font-size:14px;}

.nav2{
	background:rgba(255,255,255,0.4);
	-webkit-box-shadow:0 0 10px 2px #ccc;  
	-moz-box-shadow:0 0 10px 2px #ccc;  
	box-shadow:0 0 10px 2px #ccc; 
}
.nav2 .nav-link{color: #333;}
.nav2 li:hover .nav-link{ border-color: #61d9ff;color: #61d9ff;}
.nav2 .subnav2,.nav2 .subnav3,.nav2 .subnav4,.nav2 .subnav5,.nav2 .subnav6{
	-webkit-box-shadow:0 0 10px 2px #eee;  
	-moz-box-shadow:0 0 10px 2px #eee;  
	box-shadow:0 0 10px 2px #eee;
	margin-top: -2px;
}
.search-box{
	width: 1040px;
	padding:120px 80px 0;
	margin: 0 auto;
}
.search-box .search-inp{
	width: 880px;
	height: 46px;
	line-height: 50px;
	border-radius: 5px;
	border:2px #dcdcdc solid;
	text-indent: 15px;
}
.search-box .search-btn{
	width: 120px;
	height: 50px;
	border-radius: 5px;
	color: #fff;
	background: #105dd5;
	font-size: 18px;
	margin-left: 30px;
}
.search-box p{
	font-size: 16px;
	line-height: 50px;
	color: #999;
	margin-left: 15px;
}

.search-list{ width: 1040px; margin: 0 auto; padding:0 80px;}
.search-list .classify{
	color: #3e53b7;
	font-size: 16px;
	font-weight: bold;
	line-height: 50px;
}
.search-list li:first-child{ border-top: 1px #ddd solid;}
.search-list li{border-bottom: 1px #ddd solid;}
.search-list .new-list{padding:35px 0;}
.search-list2 .new-detail{ width: 1040px;}
.search-list2 .new-detail h1{ margin-left: 0;}
.search-list2 .new-detail p{ margin-left: 27px; text-indent: 0;}
.search-list-none{ text-align: center; padding:100px 0;}
.search-list-none p{ color: #999; font-size: 16px;}

/*roll*/
.roll{ height:600px; width:100%; background:url(../images/bg.png);}
.roll img{ height:600px;width:100%;}
canvas{height: 430px; width: 100%;}
/*footer*/
.footer{ width:100%; background:#0a112b;}
.foot-con{ width:1200px; margin:auto; color:#fff; height:300px;}
.foot-con a{ color: #fff;}
.foot-list{ 
	display:block; 
	padding-right:35px; 
	margin-left:35px;  
	margin-top:25px; 
	float:left; 
	height:210px;
}
.foot-con li{ font-size:12px; line-height:22px;}
.foot-list a:hover{ text-decoration:underline;}
.foot-con li span{ 
	display: inline-block;
	margin-top:5px; 
	margin-bottom:10px; 
	line-height:30px; 
	font-size:13px; 
	color:#fff;
	border-top: 2px #fff solid;
}
.w-180{ width:180px;}
.w-230{ width:230px;}
.w-270{ width:270px;}
.foot-bottom{ 
	background:#0a112b; 
	color:#fff; 
	text-align:center; 
	line-height:44px; 
	font-size:12px;
	width: 500px;
	border-top: 1px #fff solid;
	margin: 0 auto;
}
.foot-bottom a{ color:#fff;}
.foot-map{ 
	width:300px; 
	height:237px; 
	background:url(../images/map.png) no-repeat; 
	float:right; 
	margin-top:25px;
}
.QQ,.KJ,.WB,.WX,.PYQ{
	width: 24px;
	height: 24px;
	display: inline-block;
	background: url(../images/share.png);
	margin-right: 10px;
	margin-top: 5px;
}
.QQ{ background-position:0 0; }
.KJ{ background-position:-24px 0; }
.WB{ background-position:-48px 0; }
.WX{ background-position:-72px 0; }
.PYQ{ background-position:-96px 0; }

/*product*/
.pro-blk{
	width: 1200px;
	margin:-100px auto 40px;
	height: 200px;
}
.pro-blk li{
	width: 400px;
	float: left;
	height: 200px;
}
.one,.two,.three{ 
	display: block; 
	width: 100%; 
	height: 200px; 
	text-align: center;
	color: #fff;
}
.pro-blk .one{ background: #f1d72b;}
.pro-blk .two{ background: #33ebca;}
.pro-blk .three{ background: #42d5ff;}
.pro-blk h1{ 
	font-size: 28px; 
	font-weight: bold; 
	padding-top: 55px; 
	line-height: 32px;
}
.pro-blk .line{
	width: 45px;
	height: 2px;
	background: #fff;
	display: block;
	margin: 15px auto;
}

/* hot-news */
.hot-news{ text-align: center; width: 100%; margin-top: 85px;}
.hot-news h1{ 
	font-size: 32px;
	color: #f60;
	font-weight: bold;
	line-height: 60px;
}
.hot-news a{
	display: inline-block;
	font-size: 18px;
	color: #333;
	line-height: 36px;
	margin-bottom: 10px;
}
.hot-news .line{
	width: 45px;
	height: 2px;
	display: block;
	margin: 5px auto;
}
.hot-news .new-flash{
	display: block;
	margin: 0 auto;
	width: 700px;
}
.hot-news .new-flash:hover{

	animation: pulse 1s;
    -webkit-animation: pulse 1s; /* Safari 与 Chrome */
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.hot-news button{
	width: 230px;
	height: 45px;
	background: #f60;
	font-size: 18px;
	color: #fff;
	margin-top: 30px;
	margin-bottom:100px;
	border-radius: 45px;
	cursor: pointer;
}

/*hot*/
.hot{ background:#dfe0e4; width:100%; height:35px;}
.hot-con{ background:#990715; font-weight: bold; line-height:35px; color:#fff; position:relative; font-size:14px; letter-spacing:1px;}
.wb,.wx{ display:inline-block; margin-bottom:-10px; height:24px; width:30px; background:url(../images/icon.png) no-repeat; float:right; margin-right:10px; margin-top:6px;}
.wb{ background-position:-1px -69px;}
.wx{ background-position:-33px -69px;}
.wb:hover{ background-position:-1px -97px;}
.wx:hover{background-position:-33px -96px;}
.wx-con,.wb-con{display:none; text-align:right;}
.wx-con img,.wb-con img{ float:right; margin:5px 5px 5px 10px;}

.wx:hover .wx-con{ display:block;}
.wb:hover .wb-con{ display:block;}
.w-con-line1{ font-size:14px; color:#333; line-height:14px; margin-top:30px;}
.w-con-line2{ font-size:12px; color:#666; line-height:12px; margin-top:12px;}
.wb-con,.wx-con{ width:220px; height:95px; border:1px #cbcbcb solid; background:#fff; position:absolute; right:0; margin-top:-120px; z-index:12;}
.wx-con:after,.wb-con:after{ content: "";width:0;height:0;border-right:10px solid transparent;border-left:10px solid transparent;border-top:10px solid #fff; position:absolute; bottom:-10px;}
.wx-con:after{ right:17px;}
.wb-con:after{right:60px;}


/*business*/
.business{ width:100%; height:185px; background:#f9f9f9;}
.i{ width:3px; height:18px; background:#0a112b; display:inline-block; margin-bottom:-3px; margin-right:25px;}
.b-title{ font-size:16px; font-weight:500; color:#333; display:block; height:50px; line-height:50px; }
.icon-finance,.icon-internet,.icon-culture,.icon-call,.icon-increment{ background:url(../images/icon.png) no-repeat;display:inline-block; width:65px; height:65px;}
.icon-finance{ background-position:-1px -1px;}
.icon-internet{ background-position:-67px -1px;}
.icon-culture{ background-position:-133px -1px;}
.icon-call{ background-position:-199px -1px;}
.icon-increment{ background-position:-265px -1px;}


.business-list{ text-align:center; display:block; width:1014px; margin:auto;}
.business-list li{ float:left;padding:0px 40px 0; cursor:pointer; width:120px;}
.business-list li p{ text-align:center;}
.bn-line{ border-top:1px #ededed solid; width:30px; border-bottom:1px #fff solid; margin:5px auto 2px;}
.bn-list-con{ margin-top:5px; display:none; font-size:14px; color:#666;}
.business-list li:hover .bn-list-con{ display:block;}

/*new*/
.news{float:left; width:750px; margin-right: 40px;}
.honor{float:right; width:360px;}
.news,.honor{ margin-bottom:40px;}
.news h1 span,.honor h1 span{ color:#c4c6cb;}
.news h1 a,.honor h1 a{ color:#666; font-size:14px;}
.news-t{ margin-top:24px; height:122px; margin-left:30px;}
.news-img{ border:1px #cbcbcb solid;width:230px; height:120px; float:left; margin-right:20px; margin-bottom:25px; padding:10px;}
.news-detail h1 a{ color:#666; line-height:28px; font-size: 16px; font-weight: bold; text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;word-wrap: break-word;}
.news-detail p{font-size:14px; color:#666; line-height:24px; margin-top: 10px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;word-wrap: break-word;}
.news-list{ clear:both; margin-left:30px;}
.news-list a{color:#333; line-height:19px; font-size:13px;}
.news-list a:hover,.news-list a:hover span{ color:#105dd5;}
.news-list h1 { margin-top:25px; }
.news-list-icon{ display:inline-block; width:5px; height:5px; background-position:-84px -99px;}
.news-list-icon{ margin-right:10px; margin-bottom:2px;}
.news-list h1 .news-list-time{display:inline-block; float:right; width:90px; line-height:19px; height:19px;/*background-position:-147px -98px;*/ color:#666; font-size:14px; text-align:center;}


/*page*/
.page{ margin:auto; clear:both; text-align:center; height:30px;width:200px; padding-top:30px; padding-bottom:40px;}
.page ul li{ float:left; display:block; padding:2px 5px; border:1px #ccc solid; margin:0 5px;}
.page .select{ background:#105dd5; color:#fff;}
/*015db2*/


/*navFix*/
.navFix{ 
	position:fixed; 
	top:0; 
	_position:absolute; 
	top:expression((offsetParent.scrollTop)+0); 
	z-index:2;
	height: 45px;
	z-index: 9999;
	background:#0a112b;
}
.navFix .nav-link{line-height: 45px; height: 45px;}
.navFix:hover{ height: 70px;}
.navFix:hover .nav-link{height: 70px;line-height: 70px;}
.navFix .logo{ margin-top:3px;}
.navFix:hover .logo{margin-top:13px;}
.nav:after{
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	z-index: 9999;
	background: url(../images/nav-line.png) center;
}

@keyframes myfirst{
	form {margin-top: 100px;}
	to { margin-top: 300px;}
}
.subnav2,.subnav3,.subnav4,.subnav5,.subnav6{ 
	position:absolute;
	z-index:1024;
	left:0;
	width: 100%;
	background:rgba(9,18,43,0.9); 
	height: 0;
	transition:.1s;
	-webkit-transition:.1s;
	background:#21293f\9;
}


.nav li:hover .subnav2,
.nav li:hover .subnav3,
.nav li:hover .subnav4,
.nav li:hover .subnav5,
.nav li:hover .subnav6
	{
		height: 100px;
	}
.nav ul form{
	display: inline-block;
	height: 20px;
	padding:25px;
	margin-left: 150px;
}
.navFix ul form{
	padding:12.5px 25px;
}
.nav ul form a{display:inline-block;}
.navFix ul form input{ margin-top:-12px;}
.nav ul form .close-search{top: 24px; right:110px; position:absolute;}
.navFix ul form .close-search{top: 15px; right:112px; position:absolute;}
.navFix:hover ul form input{ margin-top:0;}
.navFix:hover ul form .close-search{top:24px;}
.navFix:hover ul form{padding:25px;}
.subnav-left a{ 
	margin:0 40px; 
	font-size:14px; 
	display: none;
	line-height:100px; 
	color: #fff;
	transition:.2s;
}
.nav li:hover .subnav2 .subnav-left a,
.nav li:hover .subnav3 .subnav-left a,
.nav li:hover .subnav4 .subnav-left a,
.nav li:hover .subnav5 .subnav-left a,
.nav li:hover .subnav6 .subnav-left a
	{
		display: inline-block;
	}
.h-120{ height:120px;}
.h-70{ height:70px;}
.w-275{ width:275px;}
.w-65-a{ width:65px; display:inline-block;}
.subnav-left{ text-align: center;}

.subnav-left a:hover{ color:#e54b55;}
.triangle{ margin-right:10px; display:inline-block; width:6px; height:11px; background:url(../images/icon.png) no-repeat -139px -101px; margin-bottom:-1px;}
.subnav-left a:hover .triangle{ background-position:-131px -101px;}
.subnav-right{ float:left; border-left:1px #c5c4c9 dotted;}
.subnav-right img{ width:130px; height:70px; margin-left:20px;}
.subnav-right p{ color:#333; margin-left:20px; margin-top:10px; line-height:10px; font-size:14px;}

.m-cp{
	width: 1200px;
	margin:0 auto 80px;
	/*background: #fff;*/
}
.m-cp-box{
	width: 32%;
    padding-bottom: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 20px 0 rgba(0,0,0,.1);
    box-shadow: 2px 2px 20px 0 rgba(0,0,0,.1);
    text-align: center;
    overflow: hidden;
    display: inline-block;
    height: 500px;
}
.m-cp-box.box1{ margin-right: 1.6%;}
.m-cp-box.box2{ margin-right: 1.6%;}
.m-cp-box.box3{ margin-right: 0;}

.m-cp-box .img{
	display: block;
	height: 300px;
    margin-bottom: 24px;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.m-cp-box .img:hover .img-hover{
	/*background: rgba(255,102,0,1);*/
	background: #ff6600\9;
}
.m-cp-box .img .img-hover{
	position: absolute;
	width: 100%;
	height: 300px;
	background: rgba(255,102,0,0);
	margin-top: -300px;
	display: block;
	transition: .6s;

}

.m-cp-box img{
    height: 300px;
    width: 100%;
    vertical-align: top;
}

.m-cp-box h1{
	font-size: 22px;
	margin-top: 25px;
}
.m-cp-box p{
	padding:20px;
	line-height: 22px;
	height: 40px;
}
.m-cp-box .btn{
	behavior: url(ie-css3.htc);
	display: inline-block;
	width: 209px;
	height: 39px;
	border:1px #105dd5 solid;
	border-radius: 20px;
	line-height: 39px;
	color: #105dd5;
}
.m-cp-box .btn:hover{
	border-color: #f60;
	color: #f60;
}
.cp01-icon,.cp02-icon,.cp03-icon{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-top: 100px;
	margin-left: 142px;
	position: absolute;
	z-index: 999;
}
.cp01-icon{
	background: url(../images/cp01-icon.png);
	background-size: 100% 100%;
}
.cp02-icon{
	background: url(../images/cp02-icon.png);
	background-size: 100% 100%;
}
.cp03-icon{
	background: url(../images/cp03-icon.png);
	background-size: 100% 100%;
}

.m-blk{float:right; width:400px; height: 400px; margin-bottom: 80px; padding-top: 75px;}
.m-blk a{ float: left;}
.m-blk img{ vertical-align: top;}
.news-into{color: #105dd5; font-size: 12px; margin-top: 15px; display: block;}

// 轮播css
	.bannerbox{width:100%;position:relative;overflow:hidden;}

	.Homebanner{width:100%;position:relative;height:650px;overflow:hidden; background: #060d20;}
	.Homebanner ul{width:100%;position:absolute;height:650px;margin-top: 70px;}
	.Homebanner ul li{width:100%;height:560px;position:absolute;overflow:hidden;}
	.Homebanner ul li img{position:absolute;left:50%;top:0px;display:block;margin-left:-950px;}

	.Homeleft,.Homeright{background:#000;font-family:"宋体";width:50px;height:50px;line-height:50px;text-align:center;font-size:40px;color:#fff;position:absolute;top:45%;cursor:pointer;transition:all .2s ease;opacity:0;z-index:899999}
	.Homeleft{left:-60px;}
	.Homeright{right:-60px;}

	.bannerbox:hover .Homeleft{left:0px;opacity:1}
	.bannerbox:hover .Homeright{right:0px;opacity:1}

	.Homedot{position:absolute;width:100%;text-align:center;z-index:999;bottom:60px;}
	.Homedot a{display:inline-block;margin:0px 5px;height:12px;width:12px;line-height:1000px;overflow:hidden;background:url(../images/index_229.png) no-repeat;}
	.Homedot a.cur{background:url(../images/index_228.png) no-repeat}

	.Homebannertext{position:absolute;left:0px;width:100%;height:100%;}
	.Homebannertext img.bigimg{transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebannertext dl.bannerone{position:absolute;width:1180px;left:50%;margin-left:-590px;top:160px;text-align:center;z-index:9999;}
	.Homebannertext dl.bannerone dt{clear:both;float:right;font-size:50px;width:250px;text-align: right; font-weight:700;height:80px;margin-right:70px;line-height:75px;color:#fff;transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebannertext dl.bannerone dd{clear:both;float:right;font-size:20px;color:#fff; text-align: right; width:500px;height:60px;margin-right:70px;line-height:60px;transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebannertext dl.bannertwo{position:absolute;width:1180px; text-align: right; right:50%;top:0px;color:#fff;margin-right:-520px;z-index:9999;}
	.Homebannertext dl.bannertwo dt{padding-top:160px;position:relative;transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebannertext dl.bannertwo dt h3{font-size:50px;line-height:60px;font-weight:700;position:relative;}
	.Homebannertext dl.bannertwo dt p{font-size:20px;position:relative;padding-top:20px;}
	.Homebannertext dl.bannerthree{position:absolute;width:1220px;left:10%;op:0px;}
	.Homebannertext dl.bannerthree dt{float:left;position:relative;transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);-webkit-transform:translateX(100px);}
	.Homebannertext dl.bannerthree img{display:block;position:relative;width:auto;height:auto;left:0px;margin:0px;top:0px;}
	.Homebannertext dl.bannerthree dd{width:500px;float:left;color:#fff;padding-top:130px;position:relative;padding-left:25px;transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);-webkit-transform:translateX(100px);}
	.Homebannertext dl.bannerthree dd h3{font-size:55px;font-weight:700;line-height:70px;}
	.Homebannertext dl.bannerthree dd p{font-size:20px;line-height:70px;}

	.bannereffect{opacity:0;filter:alpha(opacity=0);}

	.bannertime{transition:all .8s ease-in-out;-moz-transition:all .8s ease-in-out;-ms-transition:all .8s ease-in-out;-o-transition:all .8s ease-in-out;-webkit-transition:all .8s ease-in-out;}
	.bannertime1{transition:all .8s ease-in-out .2s;-moz-transition:all .8s ease-in-out .2s;-ms-transition:all .8s ease-in-out .2s;-o-transition:all .8s ease-in-out .2s;-webkit-transition:all .8s ease-in-out .2s;}
	.bannertime2{transition:all 1s ease-in-out .2s;-moz-transition:all 1s ease-in-out .2s;-ms-transition:all 1s ease-in-out .2s;-o-transition:all 1s ease-in-out 2s;-webkit-transition:all 1s ease-in-out .2s;}

	.Homebanner li.cur .Homebannertext img.bigimg{transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transform:translateY(0px);}
	.Homebanner li.cur .Homebannertext dl.bannerone dt{transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transform:translateY(0px);}
	.Homebanner li.cur .Homebannertext dl.bannerone dd{transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transform:translateY(0px);}
	.Homebanner li.cur .Homebannertext dl.bannertwo dt{transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);-webkit-transform:translateY(0px);}
	.Homebanner li.cur .Homebannertext dl.bannerthree dt{transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);-webkit-transform:translateX(0px);}
	.Homebanner li.cur .Homebannertext dl.bannerthree dd{transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);-webkit-transform:translateX(0px);}
	.Homebanner li.cur .bannereffect{opacity:1;filter:alpha(opacity=100);}

	.Homebanner li.cur1 .bannertime{transition:all .4s linear .2s;-moz-transition:all .4s linear .2s;-ms-transition:all .4s linear .2s;-o-transition:all .4s linear .2s;-webkit-transition:all .4s linear .2s;}
	.Homebanner li.cur1 .bannertime1{transition:all .4s linear .1s;-moz-transition:all .4s linear .1s;-ms-transition:all .4s linear .1s;-o-transition:all .4s linear .1s;-webkit-transition:all .4s linear .1s;}
	.Homebanner li.cur1 .bannertime2{transition:all .4s linear;-moz-transition:all .4s linear;-ms-transition:all .4s linear;-o-transition:all .4s linear;-webkit-transition:all .4s linear;}
	.Homebanner li.cur1 .Homebannertext img.bigimg{transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebanner li.cur1 .Homebannertext dl.bannerone dt{transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebanner li.cur1 .Homebannertext dl.bannerone dd{transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebanner li.cur1 .Homebannertext dl.bannertwo dt{transform:translateY(100px);-moz-transform:translateY(100px);-ms-transform:translateY(100px);-o-transform:translateY(100px);-webkit-transform:translateY(100px);}
	.Homebanner li.cur1 .Homebannertext dl.bannerthree dt{transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);-webkit-transform:translateX(100px);}
	.Homebanner li.cur1 .Homebannertext dl.bannerthree dd{transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);-webkit-transform:translateX(100px);}
	.Homebanner li.cur1 .bannereffect{opacity:0;filter:alpha(opacity=0);}
