<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人才理念</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster5"></div>
<!--海报-->
<div class="w-1200 mar-b-40">
<div class="recruit-title">人才理念</div>
<div class="talent-img">
<img src="__PUBLIC__/images/rcln_img.png"/>
<!--    <p><img src="__PUBLIC__/images/p-1.jpg" /><img src="__PUBLIC__/images/p-2.jpg" /><img src="__PUBLIC__/images/p-3.jpg" /></p>
    <p><img src="__PUBLIC__/images/p-4.jpg" /><img src="__PUBLIC__/images/p-5.jpg" /></p>-->
</div>
</div>
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
