<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人才培养</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster5"></div>
<!--海报-->
<div class="w-1200 mar-b-40">
<div class="recruit-title">人才培训体系</div>
<div class="training">
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;精英盛华向来视人才为第一财富，高度重视对人才的培养。人才培养本着公司战略、企业文化建设服务的理念，通过帮助员工提升工作绩效和个人能力，推动员工与公司的共同成长。具体人才培养体系如下：</p>
<p>（一）新人培训：根据入职新人的不同特点，公司安排了不同系列的新人培训：<br />
1、校园招聘新人培训：新人进入岗位前首先进行为期5天的内容丰富的培训，进入工作岗位后，针对岗位量身定做的岗位培训可以使新人得到来自公司和伙伴的支持。<br />
2、社会招聘新人培训：每位社会招聘进入公司的新员工，都有机会参加为期3天的入职集训，一系列精心呈现的课程将帮助到新同事迅速了解精信，获得工作必备的知识
，并建立在公司的第一笔人脉资源。<br />
3、师徒制：每一位新入职的员工都有一位资深员工来担任老师。</p>
<p>（二）双通道的员工职业发展体系：<br />
1、盛华员工可以根据自己的特长和兴趣，选择走管理的发展通道，也可以选择技术、设计、产品、市场等专业发展通道，在专业通道上发展可以获得和管理发展相同的认可和回报。<br />
2、公司针对不同专业类别员工在不同职业发展等级上，都设计有配套的能力要素，使员工清楚的知道自己的发展方向，同时公司还根据能力要素标准，设计了一系列的职业培训，帮助员工尽快达到能力要求，实现发展目标。
</p>
<p>
（三）全面多样的经理人领导力发展培训体系：<br />
结合公司领导力模型打造了全面的领导力发展培养体系，无论是储备干部、新任干部还是成熟干部，无论是基层干部、中层干部还是高层干部，都可以在精信领导力发展
培养体系中找到对应的培训方案。
</p>
</div>
</div>
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
