<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>光伏电能投资运营</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        /*.dis-n {
            display: none;
        }*/
        /*.product-nav li{*/
            /*background-color: #97c740;*/
        /*}*/
        .product-subnav li{
            background-color: #fff;
        }
    </style>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster4"></div>
<!--海报-->
<!--con-->
<div class="product-bg">
    <div class="product-k" style="width:1165px">
    	<!--侧导航-->
    	  <div class="product-nav">
            <ul id="product_menu">
               <a href="__APP__/index.php/Admin/Product/school"> <li><i class="triangle-solid "></i>智慧校园</li></a>
               <!-- <ul class="product-subnav">
                    <a href="__APP__/index.php/Admin/Product/school"><li  class="select">智慧教育</li></a>
                </ul>-->
               <a href="__APP__/index.php/Admin/Product/index"> <li class="select" onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid triangle-select"></i>光伏电能投资运营</li></a>
                <!--<ul class="product-subnav  dis-n">
                    <a href="__APP__/index.php/Admin/Product/business"><li>商企项目</li></a>
                </ul>-->
               <a href="__APP__/index.php/Admin/Product/yxt"> <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid"></i>通信业务</li></a>
                <!--<ul class="product-subnav  dis-n">
                    <a href="__APP__/index.php/Admin/Product/index"><li>智慧金融</li></a>
                </ul>-->
                <a href="__APP__/index.php/Admin/Product/zhcg"><li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid"></i>智慧城管</li></a>
            </ul>
        </div>
    	<!--右侧内容-->
   	    <div class="product-con">
        <div class="product-t product-t2">
            <!-- <img src="__PUBLIC__/images/xqjy-7-18.jpg" /> -->
            <img src="__PUBLIC__/images/gfdntzyy-2019-3-12.jpg" />
<!--            <h1>光伏电能投资运营</h1>-->
<!--            <h2>PV Power Investment Operation</h2>-->
<!--            <h3>掌握储能核心技术————ES相变储热材料打造储能产业“中国芯”</h3>-->
        </div>
        <!-- <img src="__PUBLIC__/images/product-01-02.png" /> -->
        <div class="product-text">
            <h1>光伏电能投资运营</h1>
            <h4>PV Power Investment Operation</h4>
            <h2>一、产品背景</h2>
            <p>太阳能是人类取之不尽用之不竭的可再生资源，具有充分的清洁型、绝对的安全性、确实的长寿命和资源的充足性、潜在的经济性等优点，在长期的能源战略中具有重要地位。我国的一次能源储量远远低于世界的平均水平，大约只有世界总储量的10%，因而国家对光伏发电十分重视，全面推进分布式光伏发电建设，重点发展屋顶分布式光伏发电系统。</p>
            <h2>二、产品概述</h2>
            <p>公司大力响应国家倡导的绿色能源、节能环保的新型理念，以科技创新为主题发展战略，专注于储能技术应用和光伏投资运营，打造储能、新能源领域的独角兽企业。</p>
            <p>公司自主研发的ES储热材料，带动储能领域向低成本、高使用寿命方向发展，ES储热材料将广泛用于太阳能储热、工业储热、商业储热、储热发电等领域。</p>
            <h2>三、产品类别</h2>
            <p>光伏电能投资运营的主要业务方向包括：分布式光伏投资建设与运营、储热材料研发与生产、储热式太阳能生产销售等。</p>
            <p>公司按照“全国性产业布局”战略，规划在未来几年内完成200MW的屋顶光伏电站，成为分布式光伏领域的领军者和我国清洁能源普惠大众的践行者。</p>
            <h2>四、应用模式</h2>
            <!-- <img src="__PUBLIC__/images/gfdntzyy-yyms.png" style="text-align:center;"/> -->
            <!-- <img src="__PUBLIC__/images/gfdntzyy-yyms.png" style="text-align:center;"/> -->
            <h2 style="text-align:center;">分布式储能——应用模式</h2>
            <p style="text-align:center;text-indent: 0"> <img src="__PUBLIC__/images/gfdntzyy-yyms.png" style="width:700px; "/></p>           
            <h2>五、优势特点</h2>
            <p>1、在高峰时段参与电力需求侧响应，获取政府补贴收益。</p>
            <p>2、暂态电压紧急支撑功能，解决电压波动，提高供电质量。</p>
            <p>3、突发电网故障，作为应急备用电源，提高供电可靠性。</p>
            <p>4、PCS调节无功因数，提供无功补偿功能，降低输电线路耗损。</p>
            <p>5、实现峰荷转移，提高终端用电效率。</p>
           <!--  <img src="__PUBLIC__/images/gfdntzyy-xt.png" style="text-align:center;" /> -->
            <h2 style="text-align:center;">分布式储能+光伏系统</h2>
            <p style="text-align:center;text-indent: 0"><img src="__PUBLIC__/images/gfdntzyy-xt1.png" style="width:700px; "/></p>
            <h2>六、战略合作伙伴和项目案例</h2>
            <p style="text-align:center;text-indent: 0"> <img src="__PUBLIC__/images/gfdn-hzhb.png" style="width:700px; "/> </p>
            <h2>项目案例</h2>
            <p>金桥庭院、旭辉御府、王家湾商务区、广电兰亭、光谷中心城、凯德广场、天祥尚府、当代国家花园、巴黎春天、华山软件新城、凯璟国际、阳光100、宝业光谷丽都、腾讯研发中心、御水华城、墨水湖岸、阳光上城、瑞景天城、爱家国际、鸿玺公馆、光谷8号……</p>
            <p>未来，每个人既是能源的使用者、也是能源的创造者，我们坚持为每个项目提供最科学的解决方案。我们坚信，每一点绿色能源的汇聚，都将驱动绿色未来！人与自然和谐共生是我们企业的终生使命！&nbsp;
</p>
            
        </div>
        </div>
    </div>
</div>

<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->
<script type="text/javascript">
    $("#product_menu").children('ul').hide();
    $(".select").next("ul").show();
    $("#product_menu").children('li').click(function(){
        $(this).next("ul").toggle();
    });
//     //    $("#product_menu").children('li').click(function(){
//     //        $(".dis-s").addClass('dis-n');
//     //        $(".dis-s").removeClass('dis-s');
//     //        $(this).next('ul').removeClass('dis-n');
//     //        $(this).next('ul').addClass('dis-s');
//     //    })
   /* function mouse_in(e){
        if($(e).next('ul').attr('class')!='product-subnav dis-s'){
            $(e).css({"color":"#105dd5"})
            $(e).children('i').addClass('green_down')
//            $(e).children('i').removeClass('product-icon')
        }
//        console.log($(e).next('ul').attr('class')=='product-subnav dis-s')

    }
    function mouse_out(e) {
        if ($(e).attr('class')!='select' && $(e).next('ul').attr('class') != 'product-subnav dis-s') {
            $(e).css({"color": "#3c3c3c"})
            $(e).children('i').removeClass('green_down')
        }
    }*/

//     $("#product_menu").children('li').click(function(){
// //        $(".dis-s").prev('li').css({"background-color":"#fff","color":"#3c3c3c"})
// //        $(".dis-s").prev('li').children('i').removeClass('product-select-icon');
// //        $(".dis-s").prev('li').children('i').addClass('product-icon');
// //        $(".dis-s").addClass('dis-n');
// //        $(".dis-s").removeClass('dis-s');
// //        $(this).next('ul').removeClass('dis-n');
// //        $(this).next('ul').addClass('dis-s');
// //        $(this).css({"background-color":"#97c740","color":"#fff"})
// //        $(this).children('i').addClass('product-select-icon');
// //        $(this).children('i').removeClass('product-icon');
// //        $(this).children('i').removeClass('green_down');
//         if($(this).attr('class')!='select'){
//             $(".dis-s").prev('li').css({"color":"#333"})
//             $(".dis-s").prev('li').children('i').removeClass('green_down');
//             $(".dis-s").addClass('dis-n');
//             $(".dis-s").removeClass('dis-s');
//             $(this).next('ul').removeClass('dis-n');
//             $(this).next('ul').addClass('dis-s');
//             // $(this).css({"border":"solid 1px #97c740"})
//             // $(this).children('i').addClass('green_down');
//         }
//     })
</script>
</body>
</html>
