<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智慧校园-互联网类-产品中心</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        /*.dis-n {
            display: none;
        }*/
        /*.product-nav li{*/
            /*background-color: #97c740;*/
        /*}*/
        .product-subnav li{
            background-color: #fff;
        }
    </style>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster4"></div>
<!--海报-->
<!--con-->
<div class="product-bg">
    <div class="product-k">
    	<!--侧导航-->
    	<div class="product-nav">
            <ul id="product_menu">
                <li class="select"><i class="triangle-solid triangle-select"></i>教育类<!-- <i class="product-select-icon"></i> --></li>
                <ul class="product-subnav">
                    <!--<a href="__APP__/index.php/Admin/Product/internet"><li>集约平台</li></a>-->
                    <a href="__APP__/index.php/Admin/Product/school"><li  class="select">智慧教育</li></a>
                </ul>
                <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid"></i>商企类<!-- <i class="product-icon"></i> --></li>
                <ul class="product-subnav  dis-n">
                    <a href="__APP__/index.php/Admin/Product/business"><li>商企项目</li></a>
                </ul>
                <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid"></i>金融类<!-- <i class="product-icon"></i> --></li>
                <ul class="product-subnav  dis-n">
                    <a href="__APP__/index.php/Admin/Product/index"><li>智慧金融</li></a>
                </ul>
                <a href="__APP__/index.php/Admin/Product/yxt"><li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)"><i class="triangle-solid"></i>易信通</li></a>
                
                <!-- <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)">文化类<i class="product-icon"></i></li>
                <ul class="product-subnav dis-n">
                    <a href="__APP__/index.php/Admin/Product/culture"><li>文化项目</li></a>
                </ul>
                <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)">呼叫类<i class="product-icon"></i></li>
                <ul class="product-subnav dis-n">
                    <a href="__APP__/index.php/Admin/Product/call"><li>电销业务</li></a>
                </ul>
                <li onmouseover="mouse_in(this)" onmouseout="mouse_out(this)">增值类<i class="product-icon"></i></li>
                <ul class="product-subnav dis-n">
                    <a href="__APP__/index.php/Admin/Product/sp"><li>增值业务</li></a>
                    <a href="__APP__/index.php/Admin/Product/increment"><li>终端销售</li></a>
                </ul> -->
            </ul>
        </div>
    	<!--右侧内容-->
   	    <div class="product-con">
        <div class="product-t product-t1">
            <img src="__PUBLIC__/images/product-02-02-01.jpg" />
            <h1>智慧校园</h1>
            <h2>Wisdom School</h2>
            <h3>基于校园无线网络覆盖，通过对学生上网行为分析，结合当
                                     下互联网+的理念，实现精准营销。</h3>
        </div>
        <!-- <div class="w-906">
            <img src="__PUBLIC__/images/product-02-02-02.png" />
        </div> -->
        <div class="product-text">
            <h1>智慧教育</h1>
            <h4>Wisdom Campus</h4>
            <h2>1、产品背景</h2>
            <p>为推动高校教育信息化可持续发展，遵照国家十三五教育信息化规划提出的“服务全局、融合创新、深化应用、完善机制”的原则与思路，以事务为驱动，注重师生教学、科研、管理、生活服务的个性化，提升高校教育教学的智慧化。精信科技在当前大数据、云计算、人工智能、移动互联等新技术迅猛发展的背景下，探讨信息技术与教育融合创新发展的智慧校园建设新思路。
            </p>
            <h2>2、产品概述</h2>
            <p>精信科技以互联网与移动互联网、大数据、云计算为核心，扎根智慧教育。智慧教育以智慧校园网络投资建设，运营服务及生态解决方案，智慧教育顶层设计为切入点，整合相关领域优质资源，布局智慧教育产业，构建大生态。
                                         截止目前，精信科技已经在湖北省内投资建设近十所的高校网络，为超过20万师生提供服务，打造信息、资源、科技、教育生态一体化的智慧教育产业，完成智慧教育全生态的布局。</p>
            <p>未来5年，精信将进一步覆盖全国范围内的高校服务网络，结合数据资源布局、物联网平台覆盖，发掘更广泛的数据价值，立志成为中国智慧教育产业生态的领跑者。</p>
            <h2>3、产品价值</h2>
            <h2>● 省钱——零投入 </h2>
            <p>校方无需投入资金即可建成一张高质量的有线无线统一认证管理的校园网。精信依据用户对服务质量的需求持续提供长期更新投建，并在合作期内提供免费网络运维服务。</p>
            <h2>● 省心——零风险 </h2>
            <p>精信提供校方未来智慧校园建设的相关咨询、设计服务，并引入多家运营商共同运营，避免独家垄断政策风险。师生用户可依据喜好、习惯、价格、服务质量自由选择各大运营商的ICT套餐服务，避免师生投诉。</p>
            <h2>● 省力——零运维</h2>
            <p>精信提供规划、设计、工建、运维、运营、优化等多重贴心服务，校方无需在琐碎的一线运维投入精力，由精信负责办公基础网络及学生网络端所有运维工作。</p>
            <h2>4、合作模式</h2>
            <p>校园基础网络、精信、运营商、高校四位一体（图示）</p>
            <img src="__PUBLIC__/images/jiaoyu.png" />
            <h2>5、合作案例</h2>
            <p>武汉纺织大学</p>
            <p>湖北大学知行学院</p>
            <p>安徽工贸职业技术学院</p>
            <p>江汉大学文理学院</p>
            <p>湖北师范大学文理学院</p>
            <p>武汉建设学校</p>
            <p>湖北工程职业技术学院</p>
            <p>武汉黄陂职业技术学校</p>
            <p>赣南师范大学</p>
            <p>武昌理工学院</p>
        </div>
        </div>
    </div>
</div>

<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->
<script type="text/javascript">
    $("#product_menu").children('ul').hide();
    $(".select").next("ul").show();
    $("#product_menu").children('li').click(function(){
        $(this).next("ul").toggle();
    });
    //    $("#product_menu").children('li').click(function(){
    //        $(".dis-s").addClass('dis-n');
    //        $(".dis-s").removeClass('dis-s');
    //        $(this).next('ul').removeClass('dis-n');
    //        $(this).next('ul').addClass('dis-s');
    //    })
    function mouse_in(e){
        if($(e).next('ul').attr('class')!='product-subnav dis-s'){
            $(e).css({"color":"#105dd5"})
            $(e).children('i').addClass('green_down')
//            $(e).children('i').removeClass('product-icon')
        }
//        console.log($(e).next('ul').attr('class')=='product-subnav dis-s')

    }
    function mouse_out(e) {
        if ($(e).attr('class')!='select' && $(e).next('ul').attr('class') != 'product-subnav dis-s') {
            $(e).css({"color": "#3c3c3c"})
            $(e).children('i').removeClass('green_down')
        }
    }
//     $("#product_menu").children('li').click(function(){
// //        $(".dis-s").prev('li').css({"background-color":"#fff","color":"#3c3c3c"})
// //        $(".dis-s").prev('li').children('i').removeClass('product-select-icon');
// //        $(".dis-s").prev('li').children('i').addClass('product-icon');
// //        $(".dis-s").addClass('dis-n');
// //        $(".dis-s").removeClass('dis-s');
// //        $(this).next('ul').removeClass('dis-n');
// //        $(this).next('ul').addClass('dis-s');
// //        $(this).css({"background-color":"#97c740","color":"#fff"})
// //        $(this).children('i').addClass('product-select-icon');
// //        $(this).children('i').removeClass('product-icon');
// //        $(this).children('i').removeClass('green_down');
//         if($(this).attr('class')!='select'){
//             $(".dis-s").prev('li').css({"border":"none","color":"#3c3c3c"})
//             $(".dis-s").prev('li').children('i').removeClass('green_down');
//             $(".dis-s").addClass('dis-n');
//             $(".dis-s").removeClass('dis-s');
//             $(this).next('ul').removeClass('dis-n');
//             $(this).next('ul').addClass('dis-s');
//             $(this).css({"border-bottom":"1px #ccc dotted"})
//             $(this).children('i').addClass('green_down');
//         }
//     })
</script>
</body>
</html>
