<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>领导关怀-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
    <style>
    .Care-con{ padding:20px; font-size:16px;}
	.Care-con p{ text-indent:2em;letter-spacing: 1px; line-height:24px;}
	.Care-con p img{ margin:10px auto;}
    </style>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
<ul>
    <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>精信简介</li></a>
    <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>发展历程</li></a>
    <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
    <!-- <a href="__APP__/index.php/Admin/About/team"><li><i class="triangle-solid"></i>核心团队</li></a> -->
    <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>精信荣誉</li></a>
    <a href="__APP__/index.php/Admin/About/culture"><li><i class="triangle-solid"></i>精信文化</li></a>
   <!--  <a href="__APP__/index.php/Admin/About/care"><li  class="select"><i  class="triangle-solid triangle-select"></i>领导关怀</li></a> -->
    <a href="__APP__/index.php/Admin/About/staff"><li><i class="triangle-solid"></i>员工风采</li></a>
</ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title"><span class="c-green">领导关怀</span></h1>
<!-- <h2 class="honor-title" style="width:775px;">精信科技所取得的每一点成绩和进步，都凝聚着各级领导的关爱和帮助。多年来， 政府领导先后多次莅临公司检查指导工作，看望慰问员工，极大地鼓舞了士气，坚定了我们战胜困难、锐意进取的信心和勇气。</h2> -->
<!--多条展示板块 隐藏 开始-->
	<!--<div class="care-k">-->
	<!--线-->
	<!--<div class="care-top">
<i class="care-i mar-t--3"></i>
</div>-->
	<!--左边块-->
	<!--<div class="care-con-l"><img src="__PUBLIC__/images/01.jpg" />
<i class="icon-care icon-care-left"></i>
<div class="care-t">
<h1 class="care-title">2016年,05月01日 <span class="i-care"> </span></h1>
<p>中国国务院总理李克强9日上午来到大连高新技术开发区
创业服务基地，会见创业者、投资人和大学生代表。</p>
</div>
</div>-->
	<!--右边块-->
	<!--<div class="care-con-r">
<i class="icon-care icon-care-right"></i>
<div class="care-t">
<h1 class="care-title"><span class="i-care-right"> </span>2016年,05月01日 </h1>
<p>中国国务院总理李克强9日上午来到大连高新技术开发区
创业服务基地，会见创业者、投资人和大学生代表。</p>
</div>
<img src="__PUBLIC__/images/01.jpg" />
</div>-->
	<!--左边块-->
	<!--<div class="care-con-l"><img src="__PUBLIC__/images/01.jpg" />
<i class="icon-care icon-care-left"></i>
<div class="care-t">
<h1 class="care-title">2016年,05月01日 <span class="i-care"> </span></h1>
<p>中国国务院总理李克强9日上午来到大连高新技术开发区
创业服务基地，会见创业者、投资人和大学生代表。</p>
</div>
</div>-->
	<!--左边块-->
	<!--<div class="care-con-r">
<i class="icon-care icon-care-right"></i>
<div class="care-t">
<h1 class="care-title"><span class="i-care-right"> </span>2016年,05月01日 </h1>
<p>中国国务院总理李克强9日上午来到大连高新技术开发区
创业服务基地，会见创业者、投资人和大学生代表。</p>
</div>
<img src="__PUBLIC__/images/01.jpg" />
</div>-->
	<!--线-->
	<!--<div class="care-top">
<i class="care-i mar-t-88"></i>
</div>-->
	<!--</div>-->
<!--多条展示板块 隐藏 结束-->

<!--一条信息展示开始-->
<!-- <div class="Care-con">
	<p class="text-c" style="font-weight:bold;">区领导莅临公司指导工作</p>
    <p>2016年7月8日上午九点，硚口区景书记（时任硚口区区长）、区财政局张局长、区国税局冯局长及街道办事处领导一行十人莅临我司参观指导工作。</p>
    <p>首先，各位领导在公司董事长李文帅先生的带领下，对公司的办公区域进行参观，并探讨了公司发展的主要业务。</p>
    <p class="text-c"><img src="__PUBLIC__/images/a.png" class="text-c" /></p>
    <p>随后，在公司的大会议室，董事长李文帅先生就公司的传统业务与未来的重点发展项目向领导做了汇报。期间，景书记（时任硚口区区长）对于公司的高校项目给予了极大的肯定，提出高校项目的开发空间、需求及市场潜力巨大，区里的各级领导将全力协助公司走进高校，以为高校服务为切入，进入高校，建立公共合作平台。</p>
    <p>在会议中，景书记（时任硚口区区长）非常关心公司的人才建设，他指出：武汉的人才理论性太强，实践能力较差，希望公司针对大学生创业就业群体，依托杭州基地，对人才进行培训，设立实习基地。</p>
    <p class="text-c"><img src="__PUBLIC__/images/b.png" class="text-c" /></p>
    <p>最后，董事长李文帅对公司的上市进展做了详细的汇报并指出了上市工作中存在的困难，各级领导都表示将给予各方面的支持。景书记（时任硚口区区长）特别指出公司的业务与政府推进、思考的重点完全吻合。</p>
    <p>通过上级领导的莅临指导，使精英盛华更加明确了今后努力的方向，对推动精英盛华的发展起了积极促进作用。相信在上级有关领导的指导帮助下，精英盛华在今后的发展中将更加努力，不断的提升企业综合实力，提高在行业中的地位，为促进地区经济发展做出更大的贡献。</p>
</div> -->
<!--一条信息展示结束-->
{$info}
</div>
</div>

<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
