<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>精信文化-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
    <style type="text/css">
        .culture-describe-text{ display:block;}
        .culture-describe{ display:block;}
    </style>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
<ul>
    <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>精信简介</li></a>
    <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>发展历程</li></a>
    <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
    <!-- <a href="__APP__/index.php/Admin/About/team"><li><i class="triangle-solid"></i>核心团队</li></a> -->
    <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>精信荣誉</li></a>
    <a href="__APP__/index.php/Admin/About/culture"><li class="select"><i class="triangle-solid triangle-select"></i>精信文化</li></a>
    <!-- <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
    <a href="__APP__/index.php/Admin/About/staff"><li><i class="triangle-solid"></i>员工风采</li></a>
</ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title"><span class="c-green">精信文化</span></h1>
    <img src="__PUBLIC__/images/qywh_img.jpg">
<!--<div class="mar-l-40">-->
<!--    <div class="culture-img-k culture-img-1">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1>愿&nbsp; 景</h1>-->
<!--            <h2>客户满意的精准营销服务专家</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="culture-img-k culture-img-4">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1>价值观 </h1>-->
<!--            <h2>客户第一,<br />用我们的产品和服务<br />让客户生活得更美好</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="culture-img-k culture-img-3">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1>目&nbsp; 标</h1>-->
<!--            <h2>中国民营百强企业</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="culture-img-k culture-img-5">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1 style=" width:80px;">用人理念</h1>-->
<!--            <h2>与公司同心同德<br/>-->
<!--                重价值、重业绩、重结果<br />-->
<!--                唯贤能是举</h2>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="culture-img-k culture-img-2">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1>作&nbsp; 风</h1>-->
<!--            <h2>迅速反应 马上行动</h2>-->
<!--            <h2>雷厉风行 嫉慢如仇</h2>-->
<!--        </div>-->
<!--    </div>-->



<!--    <div class="culture-img-k culture-img-6">-->
<!--        <div class="culture-describe"></div> -->
<!--        <div class="culture-describe-text">-->
<!--            <h1>精&nbsp; 神</h1>-->
<!--            <h2 style="margin-top:-15px;">严谨 敬业 专注 专业<br />-->
<!--                精益求精的工匠精神<br />-->
<!--                胜则举杯相庆<br />-->
<!--                败则拼死相救的团队精神<br />-->
<!--                前行成长，全力以赴，永争第一的个人拼搏精神-->
<!--            </h2>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</div>
</div>

<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
