<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>精信介绍-走进精信</title>
    <link
      rel="Shortcut Icon"
      href="__PUBLIC__/images/favicon.ico"
      type="image/x-icon"
    />
    <meta name="description" content="{$description}" />
    <meta name="keywords" content="{$keywords}" />
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <script
      type="text/javascript"
      src="__PUBLIC__/Js/jquery-1.8.3.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <!--top-->
    <include file="Admin@Common/header" />
    <!--导航条结束-->
    <!--海报-->
    <div class="poster2"></div>
    <!--海报-->
    <!--内容开始-->
    <div class="about-k">
      <div class="about-nav">
        <ul>
          <a href="__APP__/index.php/Admin/About/index"
            ><li class="select">
              <i class="triangle-solid triangle-select"></i>精信简介
            </li></a
          >
          <a href="__APP__/index.php/Admin/About/leader"
            ><li><i class="triangle-solid"></i>发展历程</li></a
          >
          <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
          <!-- <a href="__APP__/index.php/Admin/About/team"><li><i class="triangle-solid"></i>核心团队</li></a> -->
          <a href="__APP__/index.php/Admin/About/honor"
            ><li><i class="triangle-solid"></i>精信荣誉</li></a
          >
          <a href="__APP__/index.php/Admin/About/culture"
            ><li><i class="triangle-solid"></i>精信文化</li></a
          >
          <!-- <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
          <a href="__APP__/index.php/Admin/About/staff"
            ><li><i class="triangle-solid"></i>员工风采</li></a
          >
        </ul>
      </div>
      <div class="about-con mar-b-140">
        <h1 class="about-con-title"><span class="c-green">精信简介</span></h1>
        <!-- <img src="__PUBLIC__/images/con01.jpg" class="fr mar-l-15" />
    <p style="line-height: 25px;"><span class="c-green f-b">湖北精英盛华信息科技股份有限公司（简称“精信科技”）</span>，是一家从事数字化精准营销和基于互联网信息服务的公司，致力于互联网信息化建设和服务、云计算、智慧校园、电信增值服务等领域。

从2007年成立以来，精信科技历经十年的发展，一路高歌猛进，形成以北京、杭州、武汉三座大城为中心，辐射全国的发展大格局，目前公司已在全国近23个省、市、直辖市建立分支机构，并拥有一套覆盖全国的成熟的运营服务体系。
<p style="line-height: 25px;margin: 0;">
        公司积极响应国家以“互联网+”的思维建设智慧城市的目标，加大研发力度，基于对市场发展的精准判断，对客户需求的敏锐洞悉，以及对高品质的不懈追求，为全国23个省市地区的数亿用户提供精准的B2C产品和服务解决方案，其中易信通、智慧高校、智慧金融等产品及“被用户好评、让客户感动”的服务，产生了强大的市场影响力和品牌竞争力，赢得广大客户的高度认可。

截止目前，公司及全资子公司共获得3项专利权及48项软件著作权，具备较强的行业技术优势，形成了有效的竞争壁垒，在本地区和同行业中具有较高的地位，起到表率作用。</p>
</p>

    <p style="line-height: 25px;margin-top: 20px; font-weight: bold;">精信科技发展战略，主要包括以下几个方面：</p>

    <p style="line-height: 25px;margin: 0;"> 一是利用自身技术优势，专注于行业信息化应用，结合移动网和固网的经营，立足现在，放眼未来，为智能通信提供行业信息化金牌解决方案，助力智慧城市的建设；</p>

    <p style="line-height: 25px;margin: 0;">二是依据自身积累和行业发展态势，积极进入大数据运营领域，整合上下游资源，通过分析用户偏好进行精准营销，改善用户服务质量并降低成本，形成自己独特的产业化模式；</p>
    <p style="line-height: 25px;margin: 0;">三是依托云计算、移动互联网等信息技术，全力拓展智慧城市项目（智慧校园、智慧工地、智慧政务等），为城市的发展贡献我们的力量。</p> -->
        <!--<p>四是依托云计算、移动互联网等信息技术，全力拓展智慧城市项目（智慧校园、智慧工地、智慧政务等），为城市的发展贡献我们的力量。</p>-->
        <!-- <p class="text-c" style="text-indent:0;margin-bottom:20px;"><img src="__PUBLIC__/images/logointr.jpg"/></p>
    <p style="line-height: 25px;margin: 0;">精信科技立足大平台、大网络建设，延伸产业链，深耕大市场，秉承“客户第一，用我们的产品和服务让客户生活得更美好”的宗旨，从客户需求出发，不断完善服务流程，深化客户服务，与客户共同成长。在公司董事长李文帅先生的领导下发展成为规模近2000人的股份有限公司，2017年2月16日公司成功挂牌新三板，为公司日后的资本实力，抗风险能力，融资能力的提升提供了坚实的保障。
<p style="line-height: 25px;margin: 0;">
在未来，精信科技将持续践行“严谨、敬业、专注、专业、精益求精”的工匠精神，不断提升核心竞争力，树立民族品牌，追求企业与客户的共同发展，立志成为在全国具有竞争能力和领先优势的精准营销服务专家，开放合作，与合作伙伴携手共赢，全心为客户创造价值、服务社会。</p>
</p> -->
        {$info}
      </div>
    </div>
    <!--内容结束-->
    <!--foot-->
    <include file="Admin@Common/footer" />

    <!--foot-->
  </body>
</html>
