<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>精信领袖-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->
<div class="leader-bg">
<div class="about-k">
<div class="about-nav">
    <include file="Admin@About/menu"/>
</div>
<!--内容的总高mar-b-140-->
<div class="about-con mar-b-140">
<h1 class="about-con-title"><span class="c-green">发展历程</span></h1>
<!-- <div class="leader-addbg">
	<div class="leader-k">
	    <img src="__PUBLIC__/images/con02.jpg" class="fl" />
		<div class="leader-con">
			<h2 class="lh40">李文帅，男，1975年，山东人。</h2>
			<h2>精信科技董事长兼总经理</h2>
			<h2>湖北省山东商会会长</h2>
			<h2>湖北省山东青年联谊会发起人</h2>
			<h2>武汉市硚口区人大代表</h2>
			<h2>澳大利亚西悉尼大学（Universityof Western Sydney）工商管理硕士</h2>
		</div>
	</div>
	<div class="mar-t-20 mar-b-15">
		<p>李文帅凭借着过硬的业务素质和坚定的信念，以全新的经营思路、人本化的创业理念、科学的管理办法、高瞻远瞩的市场视觉、高尚的人格魅力，将公司十几个人逐步发展壮大到二千余人。</p>
		<p>李文帅长期从事投资管理、互联网、无线增值产业的商业模式创新与实践工作，以”客户满意的精准营销服务专家”为愿景。注重开拓创新、企业自主研发，打造
		企业的核心竞争力，精信科技力争为中国民营百强企业。</p>
	</div>
</div> -->
<div class="event_wrap" style="position: relative; height: 1250px; margin-top: 80px;">
        <div class="middle_line">
            <i class="first"></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i class="last"></i>
        </div>     
        <div class="list_left list">
            <span class="big_squre">
                <i>发展历程</i>
            </span>
            
             <div class="ev_text ev_text_event ev_t1 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2018年7月</h3>
                <p>公司荣登"2018湖北服务业企业100强"榜单</p>
            </div>
            
             <div class="ev_text_odd ev_text ev_t2 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2018年4月 </h3>
                <p>公司荣获硚口区工商联（总商会）2017年度<br/>优秀会员企业</p>
            </div>

            <div class="ev_text ev_text_event ev_t3 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2018年1月</h3>
                <p>公司总裁当选湖北省第十三届人民代表大会代表</p>
            </div>
            
            <div class="ev_text_odd ev_text ev_t4 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年12月</h3>
                <p>湖北精英盛华信息科技股份有限公司研究开发中心被武汉市科技局认定为市级科技创新平台</p>
            </div>

            <div class="ev_text ev_text_event ev_t5 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年5月</h3>
                <p>公司总裁受聘为首批硚口区“招才招商大使”</p>
            </div>
            <div class="ev_text_odd ev_text ev_t6 aActiveWid">
               <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年4月23日</h3>
                <p>公司举办了以“十年风雨同舟路，共谱精信新华章”为主题的2016财年会</p>
            </div>
            <div class="ev_text ev_text_event ev_t7 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年4月</h3>
                <p>公司荣获硚口区工商联副主席单位</p>
            </div>
            <div class="ev_text_odd ev_text ev_t8 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年3月</h3>
                <p>公司董事长李文帅被市委统战部、市工商联聘为武汉“招商大使”</p>
            </div>
            <div class="ev_text ev_text_event ev_t9 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年2月</h3>
                <p style="height:60px;">公司成功在新三板挂牌（证券简称：精信科技，证券代码：870852），正大步向着“中国民营百强企业”的企业目标迈进</p>
            </div>
            <div class="ev_text_odd ev_text ev_t10 aActiveWid">
               <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2017年1月</h3>
                <p>公司荣获湖北省社会组织总会副会长单位</p>
            </div>
            <div class="ev_text ev_text_event ev_t11 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2016年12月</h3>
                <p>公司荣获湖北省人力资源服务诚信示范机构</p>
            </div>
            <div class="ev_text_odd ev_text ev_t12 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2016年6月</h3>
                <p>公司通过ISO9001质量管理体系认证</p>
            </div>
            <div class="ev_text ev_text_event ev_t13 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2016年6月</h3>
                <p>公司完成股份制改造，整体变更为湖北精英盛华信息科技股份有限公司</p>
            </div>
            <div class="ev_text_odd ev_text ev_t14 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2016年5月</h3>
                <p>公司成为第三届湖北省山东商会会长单位</p>
            </div>
            <div class="ev_text ev_text_event ev_t15 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2015年</h3>
                <p>合并上海洲信子公司，安徽共佳孙公司</p>
            </div>
            <div class="ev_text_odd ev_text ev_t16 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2014年</h3>
                <p>公司荣获武汉市硚口区50强企业及优秀企业证书</p> 
            </div>
            <div class="ev_text ev_text_event ev_t17 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2013年</h3>
                <p style="height:60px;">成立工程安装、新媒体应用与技术子公司<br>公司荣获武汉市高新技术企业资质证书，获取20余个软件著作权</p>
            </div>
            <div class="ev_text_odd ev_text ev_t18 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2012年</h3>
                <p>公司成立流量运营分部和应用开发分部</p> 
            </div>
            <div class="ev_text ev_text_event ev_t19 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2011年1月</h3>
                <p>公司正式搬入了独立办公楼——神州卓越大厦</p>
            </div>
            <div class="ev_text_odd ev_text ev_t20 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2010年</h3>
                <p>组建数据业务开发与推广分部获得武汉市重大科研项目专项支持</p>
            </div>
            <div class="ev_text ev_text_event ev_t21 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2008年</h3>
                <p>创立首个财年，获得“最佳外包呼叫中心”称号</p>
            </div>
            <div class="ev_text_odd ev_text ev_t22 aActiveWid">
                <span class="small_squire"><i></i></span>
                <span class="small_line"></span>
                <h3>2007年6月18日</h3>
                <p>公司正式挂牌成立</p>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
