<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>员工风采-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/photo.js"></script>
    <style type="text/css">
        .photo-name{
            width: 200px;
        }
        .photo{
            border: 1px solid #ccc;
        }
        .photo div img{
            max-width: 200px;
            max-height: 200px;

        }
    </style>
    <script type="text/javascript">
        function img_s(){
            $(".photo").each(function(){
                img_w($(this).children('div').children('img'));
            })
        }
        function img_w(e){
            var i=0;
            if(e.width()>0){
                var width = 200-e.width();
                var height = 200-e.height();
                e.css({'margin-left':width/2});
                e.css({'margin-top':height/2});
                i=1;
            }
            if(i == 0){
                setTimeout(img_w(e), 1000);
            }
        }
    </script>
</head>

<body onload=" $('.photo-show').click();img_s()">
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
<ul>
    <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>精信简介</li></a>
    <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>发展历程</li></a>
    <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
    <!-- <a href="__APP__/index.php/Admin/About/team"><li><i class="triangle-solid"></i>核心团队</li></a> -->
    <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>精信荣誉</li></a>
    <a href="__APP__/index.php/Admin/About/culture"><li><i class="triangle-solid"></i>精信文化</li></a>
    <!-- <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
    <a href="__APP__/index.php/Admin/About/staff"><li class="select"><i class="triangle-solid triangle-select"></i>员工风采</li></a>
</ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title"><span class="c-green">员工风采</span></h1>
<!--图片-->
<div class="photo-k">
    <a onclick="show(0)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/1_litter.png" /></div>
        <span class="photo-name">总裁致词</span>
    </a>
    <a onclick="show(1)" class="photo">
        <div style="width: 200px;height: 200px;"> <img src="__PUBLIC__/images/staff/20160423-nianhui/2_litter.jpg" /></div>
        <span class="photo-name">年会开幕</span>
    </a>
    <a onclick="show(2)" class="photo">
        <div style="width: 200px;height: 200px;"> <img src="__PUBLIC__/images/staff/20160423-nianhui/3_litter.png" /></div>
        <span class="photo-name">颁奖</span>
    </a>
    <a onclick="show(3)" class="photo">
        <div style="width: 200px;height: 200px;"> <img src="__PUBLIC__/images/staff/20160423-nianhui/4_litter.png" /></div>
        <span class="photo-name">颁奖</span>
    </a>
    <a onclick="show(4)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/5_litter.png" /></div>
        <span class="photo-name">颁奖</span>
    </a>
    <a onclick="show(5)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/6_litter.png "/></div>
        <span class="photo-name">颁奖</span>
    </a>
    <a onclick="show(6)" class="photo">
        <div style="width: 200px;height: 200px;"> <img src="__PUBLIC__/images/staff/20160423-nianhui/7_litter.png" /></div>
        <span class="photo-name">颁奖</span>
    </a>
    <a onclick="show(7)" class="photo">
        <div style="width: 200px;height: 200px;"> <img src="__PUBLIC__/images/staff/20160423-nianhui/8_litter.png" /></div>
        <span class="photo-name">表演</span>
    </a>
    <a onclick="show(8)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/9_litter.png" /></div>
        <span class="photo-name">表演</span>
    </a>
    <a onclick="show(9)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/10_litter.png" /></div>
        <span class="photo-name">表演</span>
    </a>
    <a onclick="show(10)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/11_litter.png" /></div>
        <span class="photo-name">表演</span>
    </a>
    <a onclick="show(11)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/12_litter.png" /></div>
        <span class="photo-name">飞跃奖</span>
    </a>
    <a onclick="show(12)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/13_litter.png" /></div>
        <span class="photo-name">篮球赛</span>
    </a>
    <a onclick="show(13)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/14_litter.png" /></div>
        <span class="photo-name">篮球赛</span>
    </a>
    <a onclick="show(14)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/15_litter.png" /></div>
        <span class="photo-name">特殊贡献奖</span>
    </a>
    <a onclick="show(15)" class="photo">
        <div style="width: 200px;height: 200px;"><img src="__PUBLIC__/images/staff/20160423-nianhui/16_litter.png" /></div>
        <span class="photo-name">优秀部门奖</span>
    </a>
    <!--<a onclick="show(16)" class="photo">-->
        <!--<img width="200px" height="189px" src="__PUBLIC__/images/staff/20160423-nianhui/17_litter.png" />-->
        <!--<span class="photo-name">最佳进步部门奖</span>-->
    <!--</a>-->
</div>
<!--page-->
<div class="page">
    <ul>
    <!--<a href=""><li>上一页</li></a>-->
    <li class="select">1</li>
    <a href="__APP__/index.php/Admin/About/staff_album?url=staff_2016_nianhui_2"><li>2</li></a>
    <a href="__APP__/index.php/Admin/About/staff_album?url=staff_2016_nianhui_2"><li>下一页</li></a>
    </ul>
</div>
</div>
</div>

<style>
    .photo-show{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        /*background-color: black;*/
        z-index:1001;
        background-color: rgba(0,0,0,0.8)!important;
        /*-moz-opacity: 0.8;*/
        /*opacity:.80;*/
        /*filter: alpha(opacity=80);*/
        padding-top: 150px;
    }

</style>

<div class="photo-show">
    <div id="play">
        <ul class="img_ul">
            <li style="display:block;"><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/1_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/2_litter.jpg"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/3_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/4_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/5_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/6_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/7_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/8_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/9_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/10_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/11_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/12_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/13_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/14_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/15_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/16_litter.png"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/17_litter.png"></a></li>
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/1.jpg"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/2.jpg"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/1.jpg"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/2.jpg"></a></li>-->
        </ul>
        <a href="javascript:void(0)" class="prev_a change_a" title="上一张"><span></span></a>
        <a href="javascript:void(0)" class="next_a change_a" title="下一张"><span style="display:block;"></span></a>
    </div>
    <div class="img_hd">
        <ul class="clearfix">
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/1_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/2_litter.jpg" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/3_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/4_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/5_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/6_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/7_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/8_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/9_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/10_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/11_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/12_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/13_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/14_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/15_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/16_litter.png" onload="imgs_load(this)"></a></li>
            <li><a class="img_a"><img src="__PUBLIC__/images/staff/20160423-nianhui/17_litter.png" onload="imgs_load(this)"></a></li>
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/1.jpg" onload="imgs_load(this)"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/2.jpg" onload="imgs_load(this)"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/1.jpg" onload="imgs_load(this)"></a></li>-->
            <!--<li><a class="img_a"><img src="__PUBLIC__/images/2.jpg" onload="imgs_load(this)"></a></li>-->
        </ul>

        <a class="bottom_a prev_a" style="opacity:0.7;"></a>

        <a class="bottom_a next_a" style="opacity:0.7;"></a>

    </div>
</div>

<script type="text/javascript">
    var a_top_height;
    var i=0; //图片标识
    var img_num=$(".img_ul").children("li").length; //图片个数
    $(".img_ul li").hide(); //初始化图片
    play();
    $(function(){
        $(".img_hd ul").css("width",($(".img_hd ul li").outerWidth(true))*img_num); //设置ul的长度
        $(".bottom_a").css("opacity",0.7);	//初始化底部a透明度
        //$("#play").css("height",$("#play .img_ul").height());
        if (!window.XMLHttpRequest) {  //对ie6设置a的位置
            $(".change_a").css("height",$(".change_a").parent().height());
        }
        $(".change_a").focus(function(){
            this.blur();
        });
        $(".bottom_a").hover(function(){  //底部a经过事件
            $(this).css("opacity",1);
        },function(){
            $(this).css("opacity",0.7);
        });
        $(".change_a").hover(function(){  //箭头显示事件
            $(this).children("span").show();
        },function(){
            $(this).children("span").hide();
        });
        $(".img_hd ul li").click(function(){
            i=$(this).index();
            play();
        });
        $(".prev_a").click(function(){
            //i+=img_num;
            i--;
            //i=i%img_num;
            i=(i<0?0:i);
            play();
        });
        $(".next_a").click(function(){
            i++;
            //i=i%img_num;
            i=(i>(img_num-1)?(img_num-1):i);
            play();
        });
    });

    function play(){   //动画移动
        var img=new Image();  //图片预加载
        img.onload=function(){
            img_load(img,$(".img_ul").children("li").eq(i).find("img"))
        };
        img.src=$(".img_ul").children("li").eq(i).find("img").attr("src");

        $(".img_hd ul").children("li").eq(i).addClass("on").siblings().removeClass("on");
        if(img_num>7){  //大于7个的时候进行移动
            if(i<img_num-3){  //前3个
                $(".img_hd ul").animate({"marginLeft":(-($(".img_hd ul li").outerWidth()+4)*(i-3<0?0:(i-3)))});
            }else if(i>=img_num-3){  //后3个
                $(".img_hd ul").animate({"marginLeft":(-($(".img_hd ul li").outerWidth()+4)*(img_num-7))});
            }
        }
        if(!window.XMLHttpRequest){   //对ie6设置a的位置
            $(".change_a").css("height",$(".change_a").parent().height());
        }
    }

    function img_load(img_id,now_imgid){    //大图片加载设置 （img_id 新建的img,now_imgid当前图片）
        if(img_id.width/img_id.height>1){
//            if(img_id.width >=$("#play").width())
//                $(now_imgid).width($("#play").width());
            if(img_id.width >=550)
                $(now_imgid).width(550);
//            $(now_imgid).height(500)
        }else{
            if(img_id.height>=500) $(now_imgid).height(500);
        }
        $(".img_ul").children("li").eq(i).show().siblings("li").hide(); //大小确定后进行显示
//        console.log($("#play").height());
        a_top_height = $("#play").height()/2-22;
        $("#play").children('a').css({'margin-top':a_top_height});

    }
    function imgs_load(img_id){  //小图片加载设置
        if(img_id.width >=$(".img_hd ul li").width()){img_id.width = 80};
        //if(img_id.height>=$(".img_hd ul li").height()) {img_id.height=$(".img_hd ul li").height();}
    }
    function show(id){
        $(".photo-show").show();
        var hight = $(".photo-show").height()-$("#play").height()-$(".img_hd").height();
        // $(".photo-show").css({'padding-top':hight/2+$(document).scrollTop()});
        $(".img_hd ul").children("li").eq(id).addClass("on").siblings().removeClass("on");
        $(".img_ul").children("li").eq(id).show().siblings("li").hide();
        i=id;
        play();
        a_top_height = $("#play").height()/2-22;
        $("#play").children('a').css({'margin-top':a_top_height});
//        console.log($("#play").height());
    }
</script>
<script type="text/javascript">
    $('.photo-show').click(function() {
        $('#play').click(function(){
            $('.photo-show').show();
            return false;
        })
        $('.img_hd').click(function(){
            $('.photo-show').show();
            return false;
        })
        $('.photo-show').click(function(){
            var e = (window.event) ? window.event : event;
            if (window.event) {
                e.cancelBubble=true;
            } else {
                e.stopPropagation();
            }
        })
        $('.photo-show').hide();
    });

</script>
<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
