<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>核心团队-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
    <ul>
        <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>精信简介</li></a>
        <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>发展历程</li></a>
        <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
        <!-- <a href="__APP__/index.php/Admin/About/team"><li class="select"><i class="triangle-solid triangle-select"></i>核心团队</li></a> -->
        <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>精信荣誉</li></a>
        <a href="__APP__/index.php/Admin/About/culture"><li><i class="triangle-solid"></i>精信文化</li></a>
       <!--  <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
        <a href="__APP__/index.php/Admin/About/staff"><li><i class="triangle-solid"></i>员工风采</li></a>
    </ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title"><span class="c-green">核心团队</span></h1>
<div class="team-k">
<!-- <img src="__PUBLIC__/images/team01.jpg" /> -->
<div class="team-con">
<h1 class="f-14 f-b">李文帅&nbsp;&nbsp;董事长兼总经理</h1>
<p>李文帅先生 1975年出生，中国国籍，无境外永久居留权，硕士学历。1997年8月至2001年8月，任深圳宇龙计算机通讯科技公司大区总经理；2001年9月至2003年6月，在悉尼工商管理学院攻读MBA学位；2003年7月至2007年5月，任深圳神州卓越科技有限公司总经理；2007年6月至2016年6月，任湖北精英盛华信息科技有限公司总经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司董事长、总经理。
</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team02.jpg" /> -->
<div class="team-con">
<h1 class="f-14 f-b">李文财&nbsp;&nbsp;副总经理兼行政部总监</h1>
<p>李文财先生 1978年出生，中国国籍，无境外永久居留权，本科学历。2003年6月至2007年6月，任武汉爱瑞迪科技有限公司副总经理；2007年7月至2016年6月，任湖北精英盛华信息科技有限公司副总经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司董事、副总经理。</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team03.jpg" /> -->
<div class="team-con" style="padding-top: 23px;">
<h1 class="f-14 f-b">李玎&nbsp;&nbsp;副总经理</h1>
<p>李玎先生 1974年出生，中国国籍，无境外永久居留权，大专学历。1995年9月至1999年6月，任武汉市委黄鹤寻呼台技术部经理；1999年7月至2001年6月，任广州兴达科技有限公司顺德、汕头、汕尾分公司总经理；2001年7月至2003年3月，任广东金中华通讯服务有限公司运营中心高级经理；2003年4月至2005年5月，任武汉一号通科技有限公司总经理；2005年6月至2010年6月，任武汉玖润电子科技有限公司副总经理；2010年7月至2016年6月，任湖北精英盛华科技有限公司副总经理；2016年7月至今，任湖北精英盛华科技有限公司监事会主席。</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team04.jpg" /> -->
<div class="team-con" style="padding-top: 3px;padding-bottom: 3px;">
<h1 class="f-14 f-b">冯达春&nbsp;&nbsp;副总经理</h1>
<p>冯达春先生 1975年出生，中国国籍，无境外永久居留权，本科学历。1997年8月至2000年4月，任康柏（中国）电脑有限公司武汉客服中心服务工程师；2000年5月至2003年9月，任联想（北京）有限公司客服部技术主管；2003年10月至2006年9月，任联想移动通信科技有限公司客服部渠道经理；2006年10月至2009年1月，任联想移动通信科技有限公司广东分公司办事处经理；2009年2月至2009年9月，任武汉远东绿世界集团公司市场部高级经理；2009年10月至2013年11月，任湖北精英盛华信息科技有限公司市场部经理、总经理助理、副总经理；2013年12月至2014年11月，任武汉深华四维科技有限公司总经理；2014年12月至2016年6月，任湖北精英盛华信息科技有限公司副总经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司董事、副总经理。</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team05.jpg" /> -->
<div class="team-con" style="padding-top: 20px;">
<h1 class="f-14 f-b">方丰光&nbsp;&nbsp;副总经理</h1>
<p>方丰光先生 1983年出生，中国国籍，无境外永久居留权，本科学历。2003年6月至2006年6月，任浙江信嘉诺通信技术有限公司人力行政部主管；2006年7月至2010年7月，任红孩子（集团）杭州分公司人力资源部经理；2010年8月至2013年2月，任红孩子（集团）旗下杭州宏悦网络科技有限公司人力资源部副总监；2013年3月至2015年10月，任杭州英飞（集团）有限公司人力资源部总监；2015年11月至2016年2月，任上海洲信人力资源部总监；2016年3月至2016年6月，任湖北精英盛华信息科技有限公司人力资源部总监；2016年7月至今，任湖北精英盛华信息科技股份有限公司副总经理。</p>
</div>
</div>
<!--page-->
<div class="page">
    <ul>
    <!--<a href=""><li>上一页</li></a>-->
        <a href="__APP__/index.php/Admin/About/team"><li class="select">1</li></a>
        <a href="__APP__/index.php/Admin/About/team2"><li>2</li></a>
        <a href="__APP__/index.php/Admin/About/team2"><li>下一页</li></a>
    </ul>
</div>
</div>
</div>

<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
