<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>核心团队-走进精信2</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
    <ul>
        <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>精信简介</li></a>
        <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>发展历程</li></a>
        <!-- <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>精信架构</li></a> -->
        <!-- <a href="__APP__/index.php/Admin/About/team"><li class="select"><i class="triangle-solid triangle-select"></i>核心团队</li></a> -->
        <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>精信荣誉</li></a>
        <a href="__APP__/index.php/Admin/About/culture"><li><i class="triangle-solid"></i>精信文化</li></a>
       <!--  <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
        <a href="__APP__/index.php/Admin/About/staff"><li><i class="triangle-solid"></i>员工风采</li></a>
    </ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title"><span class="c-green">核心团队</span></h1>
<div class="team-k">
<!-- <img src="__PUBLIC__/images/team06.jpg" /> -->
<div class="team-con">
<h1 class="f-14 f-b">张亚青&nbsp;&nbsp;副总经理</h1>
<p>张亚青女士  1969年出生，中国国籍，无境外永久居留权，本科学历。1992年10月至1995年6月，任潍坊市微机培训中心培训部指导老师；1995年7月至2007年11月，任山东万声通讯实业有限公司信息中心主任、市场部经理、移动增值事业部总经理；2007年12月至2016年6月，任上海洲信信息技术有限公司运营总监、无线商业事业部总经理、产品中心总经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司副总经理。</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team07.jpg" /> -->
<div class="team-con">
<h1 class="f-14 f-b">夏远波&nbsp;&nbsp;副总经理</h1>
<p>夏远波先生  1983年出生，中国国籍，无境外永久居留权，本科学历。2005年8月至2007年6月，任浙江纵横通信服务集团有限公司增值业务部产品经理；2007年7月至2008年2月，任山东大众信息产业有限公司增值事业部副总经理；2008年3月至2016年6月，任上海洲信信息技术有限公司营服一部总经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司董事、副总经理。</p>
</div>
</div>
<div class="team-k mar-t-30">
<!-- <img src="__PUBLIC__/images/team08.jpg" /> -->
<div class="team-con">
<h1 class="f-14 f-b">袁朝鸣&nbsp;&nbsp;副总经理</h1>
<p>袁朝鸣先生  1978年出生，中国国籍，无境外永久居留权，本科学历。2001年7月至2002年5月，任浙江中恒世纪科技有限公司程序员；2002年6月至2006年6月，任上海洲信信息技术有限公司语音业务部经理；2006年7月至2012年7月，任杭州云天信息技术有限公司总经理；2012年8月至2015年3月，任上海洲信信息技术有限公司无线商户事业部总经理；2015年4月至2016年6月，任湖北精英盛华信息科技有限公司技术中心首席技术官；2016年7月至今，任湖北精英盛华信息科技股份有限公司副总经理、核心技术人员。</p>
</div>
</div>
<!--<div class="team-k mar-t-30">
<img src="__PUBLIC__/images/team09.jpg" />
<div class="team-con">
<h1 class="f-14 f-b">吴俊&nbsp;&nbsp;财务总监</h1>
<p>吴俊先生 1981年出生，中国国籍，无境外永久居留权，大专学历。2002年10月至2006年12月，任武汉市金泉绿色科技有限公司财务部会计主管；2007年1月至2011年7月，任中勤万信会计师事务所审计三部审计经理；2011年8月至2014年7月，任湖北周黑鸭食品有限公司财务中心财务经理；2014年8月至2016年3月，任湖北浦惠投资担保有限公司风控部风控；2016年4月至2016年6月，任湖北精英盛华信息科技有限公司财务部副经理；2016年7月至今，任湖北精英盛华信息科技股份有限公司财务部财务总监。</p>
</div>
</div>-->

<!--page-->
<div class="page">
    <ul>
    <a href="__APP__/index.php/Admin/About/team"><li>上一页</li></a>
        <a href="__APP__/index.php/Admin/About/team"><li>1</li></a>
    <a href="__APP__/index.php/Admin/About/team2"><li  class="select">2</li></a>
    <!--<a href="__APP__/index.php/Admin/About/team"><li>下一页</li></a>-->
    </ul>
</div>
</div>
</div>

<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
