<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>核心团队-走进精信</title>
<link rel="Shortcut Icon" href="__PUBLIC__/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="keywords" content="{$keywords}">
    <link rel="stylesheet" href="__PUBLIC__/Css/baes.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/Css/mart.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.3.min.js"></script>
</head>

<body>
<!--top-->
<include file="Admin@Common/header"/>
<!--导航条结束-->
<!--海报-->
<div class="poster2"></div>
<!--海报-->
<!--内容开始-->

<div class="about-k">
<div class="about-nav">
<ul>
    <a href="__APP__/index.php/Admin/About/index"><li><i class="triangle-solid"></i>盛华简介</li></a>
    <a href="__APP__/index.php/Admin/About/leader"><li><i class="triangle-solid"></i>盛华领袖</li></a>
    <a href="__APP__/index.php/Admin/About/framework"><li><i class="triangle-solid"></i>盛华架构</li></a>
    <a href="__APP__/index.php/Admin/About/team"><li class="select"><i class="triangle-solid triangle-select"></i>核心团队</li></a>
    <a href="__APP__/index.php/Admin/About/honor"><li><i class="triangle-solid"></i>盛华荣誉</li></a>
    <a href="__APP__/index.php/Admin/About/culture"><li><i class="triangle-solid"></i>盛华文化</li></a>
  <!--   <a href="__APP__/index.php/Admin/About/care"><li><i class="triangle-solid"></i>领导关怀</li></a> -->
    <a href="__APP__/index.php/Admin/About/staff"><li><i class="triangle-solid"></i>员工风采</li></a>
</ul>
</div>
<div class="about-con mar-b-40">
<h1 class="about-con-title">走进盛华 — <span class="c-green">核心团队</span></h1>
<div class="team-k">
<img src="__PUBLIC__/images/team01.jpg" />
<div class="team-con">
<h1 class="f-14 f-b">李文帅&nbsp;&nbsp;董事长兼总裁</h1>
<p>湖北省山东商会会长，武汉市硚口区人大代表。武汉工业大学学士，澳大利亚西悉尼大学工商管理硕士学位
凭借诚信的人格魅力、坚定的前行信念、独到的管理理念和创新性的经营思路，带领公司在移动互联网领域
披荆斩棘、大步向前。2011年被推举为硚口区第十四届人民代表大会代表，2014年被评为湖北“杰出职业
经理人”，2015年，入选湖北省“黄鹤英才（企业家）计划”企业家。
</p>
</div>
</div>
<div class="team-k mar-t-30">
<img src="__PUBLIC__/images/team02.jpg" />
<div class="team-con">
<h1 class="f-14 f-b">杨植圣&nbsp;&nbsp;副总裁兼行政部总监</h1>
<p>武汉理工大学硕士学位，曾担任湖北精英盛华副总经理、电话营销项目运营总监职务。在他的带领下，电话
营销平台技术不断完善、员工效率持续提高，电话营销业务在湖北屡创新高，在业内取得了良好的口碑，获
得了合作单位的一致肯定。</p>
</div>
</div>
<div class="team-k mar-t-30">
<img src="__PUBLIC__/images/team03.jpg" />
<div class="team-con">
<h1 class="f-14 f-b">李玎&nbsp;&nbsp;副总裁兼营服二部总经理</h1>
<p>金融与酒店项目负责人，具有多年从事电信终端销售经验。<br />
恩施分公司筹建初期，他主动请缨，接受挑战，放弃武汉良好的发展环境和舒适的个人生活，到恩施分公司
任总经理职务，工作中，他敢于负责，勇挑重担，言必行，行必果，处处以身作则，身先士卒。公司开业后
连续盈利，并实现了跨越式发展。</p>
</div>
</div>
<div class="team-k mar-t-30">
<img src="__PUBLIC__/images/team04.jpg" />
<div class="team-con">
<h1 class="f-14 f-b">冯达春&nbsp;&nbsp;兼营服三部总经理</h1>
<p>在联通客户中心任管理职务，具有丰富的企业经营管理经验和扎实的专业知识。先后担任公司副总经理、黄
冈分公司总经理、业务外包部经理职务。2008年，进入湖北精英盛华，从部门经理做起，将业务外包部业务
规模提升了10余倍。2010年底，他被委任为公司副总，兼任黄冈分公司总经理。2015年负责武汉、恩施、
黄冈、黄石、江西、宜昌分公司的所有业务。</p>
</div>
</div>
</div>
</div>

<!--内容结束-->
<!--foot-->
<include file="Admin@Common/footer"/>

<!--foot-->

</body>
</html>
