<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <load href="__PUBLIC__/Css/home_base.css"/>
    <load href="__PUBLIC__/Js/jquery-1.6.min.js"/>
    <load href="__PUBLIC__/uploadify/jquery.uploadify.min.js"/>
    <load href="__PUBLIC__/uploadify/uploadify.css"/>

<title>精信官网后台</title>

</head>

<body>
<!--top开始-->
<include file="Home@Common/head"/>
<!--nav结束-->
<!--con开始-->
<div class="con">
	<div class="add-line-1">
    <span>名称：</span><input type="text" class="input-k w-350" id="name" name="name" value="{$user_name}" readonly/>
    </div>
    <div class="add-line-1">
        <span>原密码：</span>
        <input type="password" class="input-k w-350" id="old_pwd" name="old_pwd" />
    </div>
    <div class="add-line-1">
        <span>新密码：</span>
        <input type="password" class="input-k w-350" id="new_pwd" name="new_pwd"/>
    </div>
    <div class="add-line-1">
        <span>确认密码：</span>
        <input type="password" class="input-k w-350" id="re_pwd" name="re_pwd" />
    </div>

    <div class="add-line-1"><input onclick="sub()" type="button" class="save-btn mar-l-250" value="保存" /></div>
</div>
<!--con结束-->
<!--footer开始-->
<div class="footer">精信官网后台</div>
<!--footer结束-->
<script type="text/javascript">
    function sub(){
        var old_pwd = $("#old_pwd").val();
        var new_pwd = $("#new_pwd").val();
        var re_pwd = $("#re_pwd").val();
        if(old_pwd == ""){
            alert("请输入原密码");
            return false;
        }else if(new_pwd == ""){
            alert("请输入新密码");
            return false;
        }else if(re_pwd == ""){
            alert("请再次输入新密码");
            return false;
        }else if(new_pwd != re_pwd){
            alert("两次输入新密码不一致");
            return false;
        }
        $.post('save_pwd', {old_pwd:old_pwd,new_pwd:new_pwd}, function(data){
            data = eval('(' + data + ')');
            if(data.status){
                alert(data.info);
                window.location.href="logout";
            }else{
                alert(data.info);
            }
        });
    }
</script>
</body>
</html>
